```
Topic:        Project 2
Subject:      Projecting Premier League Players' Salaries with Quantitative Statistics
Date:         07/17/2020
Name:         David Weon

Notebook has been cleaned using nbextension 'Code prettify'
```

# Web Scraping Players' Stats in the Premier League

In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import time, os
import requests

In [2]:
url = 'https://fbref.com/robots.txt'
response = requests.get(url)

In [3]:
url2 = 'https://www.spotrac.com/epl/manchester-united-f.c/payroll/2018/robots.txt'
response2 = requests.get(url2)

In [4]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

# 2018-2019 Season Stats

## Manchester United

### Standard Stats

In [5]:
def standardtable(teamURL):
    '''
    input: teamURL (str)
    output: dataframe of the standard stats table with selected stats
    '''
    #URL html for standard table read in beautifulsoup
    page = requests.get(teamURL).text
    soup = BeautifulSoup(page, 'lxml')

    #finding standard stats table
    standard_table = soup.find('table', id='stats_standard_ks_1889')

    #player names in list
    players = [
        header for header in standard_table.find_all('th', class_='left')
    ]
    player_names = [name.text for th in players for name in th.find_all('a')]

    #player stats in list
    player_row = [row for row in standard_table.find_all('tr')]

    player_stats = {}
    for player in player_row[2:]:
        items = player.find_all('td')
        player_stats[player] = [i.text for i in items]

    player_stats_list = [stats for stats in player_stats.values()]

    #matching player name with stats
    all_players_stats = {}
    all_players_stats.update(zip(player_names, player_stats_list))

    #creating dataframe for team's players and stats
    team_1819 = pd.DataFrame(all_players_stats).T
    team_1819.columns = [
        'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', 'Gls', 'Ast', 'PK',
        'PKatt', 'CrdY', 'CrdR', 'P90Gls', 'P90Ast', 'P90G+A', 'P90G-PK',
        'P90G+A-PK', 'ExpectedxG', 'ExpectednpxG', 'ExpectedxA', 'P90xG',
        'P90xA', 'P90xG+xA', 'P90npxG', 'P90npxG+xA', 'Matches'
    ]

    #dropping unneded columns
    team_1819 = team_1819.drop([
        'Min', 'Nation', 'PK', 'PKatt', 'CrdR', 'Gls',
        'P90G+A', 'P90G-PK', 'P90G+A-PK', 'ExpectedxG', 'ExpectednpxG',
        'ExpectedxA', 'P90xG', 'P90xA', 'P90xG+xA', 'P90npxG', 'P90npxG+xA',
        'Matches', 'Ast'
    ],
                               axis=1)

    #data cleaning
    team_1819 = team_1819.replace(r'^\s*$', np.nan, regex=True)
    #team_1819['Min'] = team_1819['Min'].str.replace(',', '')
    team_1819.iloc[:, 1:] = team_1819.iloc[:, 1:].astype('float64')

    return team_1819

In [6]:
standardtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')

                     Pos Age  MP Starts CrdY P90Gls P90Ast
David de Gea          GK  27  38     38    1      0      0
Paul Pogba            MF  25  35     34    6   0.39   0.27
Victor Lindelöf       DF  24  30     29    1   0.03   0.03
Luke Shaw             DF  23  29     29   11   0.03   0.14
Ashley Young          DF  33  30     28    9   0.07   0.07
Nemanja Matić         MF  29  28     28    7   0.04      0
Marcus Rashford       FW  20  33     26    3   0.39   0.23
Chris Smalling        DF  28  24     24    1   0.04      0
Romelu Lukaku         FW  25  32     22    4   0.51      0
Jesse Lingard      FW,MF  25  27     19    3   0.22   0.11
Anthony Martial       FW  22  27     18    2   0.56   0.11
Ander Herrera         MF  28  22     16    4   0.13   0.19
Juan Mata          FW,MF  30  22     16    3   0.21   0.14
Phil Jones            DF  26  18     15    1      0   0.07
Fred                  MF  25  17     13    2   0.09   0.09
Diogo Dalot        DF,MF  19  16     12    3      0   0.18
Alexis Sánchez     FW,MF  29  20      9    3    0.1   0.31
Scott McTominay    MF,DF  21  16      9    1   0.21      0
Eric Bailly           DF  24  12      8    0      0      0
Marouane Fellaini     MF  30  14      6    1      0   0.12
Andreas Pereira       MF  22  15      6    5   0.15   0.15
Antonio Valencia   DF,MF  32   6      5    2      0      0
Matteo Darmian        DF  28   6      5    0      0      0
Marcos Rojo           DF  28   5      2    2      0      0
Mason Greenwood       FW  16   3      1    0      0      0
Tahith Chong          FW  18   2      0    0      0      0
Angel Gomes        MF,FW  17   2      0    0      0      0
James Garner          MF  17   1      0    0      0      0
Lee Grant             GK  35   0      0  NaN    NaN    NaN
Sergio Romero         GK  31   0      0  NaN    NaN    NaN

### Shooting Stats

In [7]:
from bs4 import BeautifulSoup, Comment

In [8]:
def shootingtable(teamURL):
    '''
    input: teamURL (str)
    output: dataframe of the shooting stats table with selected stats
    '''
    #URL html for shooting table read in beautifulsoup
    page = requests.get(teamURL).text
    soup = BeautifulSoup(page, 'lxml')
    placeholder = soup.select_one('#all_kitchen_sink_shooting .placeholder')
    comment = next(elem for elem in placeholder.next_siblings
                   if isinstance(elem, Comment))
    shootsoup = BeautifulSoup(comment, 'lxml')

    #finding shooting stats table
    shooting_table = shootsoup.find('table', id="stats_shooting_ks_1889")

    #player names in list
    shooters = [
        header for header in shooting_table.find_all('th', class_='left')
    ]
    shooter_names = [name.text for th in shooters for name in th.find_all('a')]

    #player stats in list
    shooting_row = [row for row in shooting_table.find_all('tr')]

    shooting_stats = {}
    for shooter in shooting_row[2:]:
        items = shooter.find_all('td')
        shooting_stats[shooter] = [i.text for i in items]
    shooting_stats_list = [stats for stats in shooting_stats.values()]

    #matching player name with stats
    all_shooting = {}
    all_shooting.update(zip(shooter_names, shooting_stats_list))

    #creating dataframe for team's players and stats
    shooting_df = pd.DataFrame(all_shooting).T
    shooting_df.columns = [
        'Nation', 'Pos', 'Age', '90s', 'Gls', 'PK', 'Pkatt', 'Shot',
        'ShotonTarget', 'FK', 'ShotonTarget%', 'Sh/90', 'SoT/90', 'G/Sh',
        'G/SoT', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Matches'
    ]

    #dropping unneded columns
    shooting_df = shooting_df.drop([
        'Nation', 'Pos', 'Age', 'Gls', 'PK', 'Pkatt', 'ShotonTarget',
        'G/Sh', 'G/SoT', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Matches',
        'Shot', 'ShotonTarget%', 'FK'
    ],
                                   axis=1)

    #data cleaning
    shooting_df = shooting_df.replace(r'^\s*$', np.nan, regex=True)
    shooting_df.iloc[:, :] = shooting_df.iloc[:, :].astype('float64')

    return shooting_df

In [9]:
shootingtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')

                    90s  Sh/90  SoT/90
David de Gea       38.0   0.00    0.00
Paul Pogba         33.4   2.87    1.14
Victor Lindelöf    28.9   0.24    0.03
Luke Shaw          28.8   0.69    0.21
Ashley Young       28.5   0.42    0.11
Nemanja Matić      27.1   0.44    0.11
Marcus Rashford    25.9   3.20    1.54
Chris Smalling     23.6   0.51    0.17
Romelu Lukaku      23.7   2.49    1.39
Jesse Lingard      18.5   1.68    0.65
Anthony Martial    18.0   2.05    1.22
Ander Herrera      15.6   1.35    0.58
Juan Mata          14.3   1.33    0.42
Phil Jones         14.0   0.36    0.14
Fred               11.6   1.47    0.17
Diogo Dalot        11.3   1.33    0.00
Alexis Sánchez      9.8   1.84    0.92
Scott McTominay     9.6   1.56    0.62
Eric Bailly         7.1   0.42    0.14
Marouane Fellaini   8.4   0.96    0.36
Andreas Pereira     6.7   1.20    0.30
Antonio Valencia    5.2   0.39    0.00
Matteo Darmian      4.9   0.20    0.20
Marcos Rojo         2.4   2.55    1.27
Mason Greenwood     1.3   5.38    3.08
Tahith Chong        0.4   4.74    2.37
Angel Gomes         0.3   6.67    3.33
James Garner        0.0   0.00    0.00

### Passing Stats

In [10]:
def passingtable(teamURL):
    '''
    input: teamURL(str)
    output: dataframe of the passing stats table with selected stats
    '''
    #URL html for shooting table read in beautifulsoup
    page = requests.get(teamURL).text
    soup = BeautifulSoup(page, 'lxml')
    placeholder = soup.select_one('#all_kitchen_sink_passing .placeholder')
    comment = next(elem for elem in placeholder.next_siblings
                   if isinstance(elem, Comment))
    passsoup = BeautifulSoup(comment, 'lxml')

    #finding shooting stats table
    passing_table = passsoup.find('table', id='stats_passing_ks_1889')

    #player names in list
    passers = [
        header for header in passing_table.find_all('th', class_='left')
    ]
    passer_names = [name.text for th in passers for name in th.find_all('a')]

    #player stats in list
    passing_row = [row for row in passing_table.find_all('tr')]

    passing_stats = {}
    for passer in passing_row[2:]:
        items = passer.find_all('td')
        passing_stats[passer] = [i.text for i in items]
    passing_stats_list = [stats for stats in passing_stats.values()]

    #matching player name with stats
    all_passing = {}
    all_passing.update(zip(passer_names, passing_stats_list))

    #creating dataframe for team's players and stats
    passing_df = pd.DataFrame(all_passing).T
    passing_df.columns = [
        'Nation', 'Pos', 'Age', '90s', 'TotPassCmp', 'TotPassAtt',
        'TotPassCmpPerc', 'TotDist', 'TotPrgDist', 'ShortCmp', 'ShortAtt',
        'ShortCmp%', 'MediumCmp', 'MediumAtt', 'MediumCmp%', 'LongCmp',
        'LongAtt', 'LongCmp%', 'Ast', 'xA', 'A-xA', 'KP', '1/3', 'PPA',
        'CrsPA', 'Prog', 'Matches'
    ]

    #dropping unneded columns
    passing_df = passing_df.drop([
        'Nation', 'Pos', 'Age', '90s', 'TotDist', 'ShortCmp', 'ShortAtt',
        'ShortCmp%', 'MediumCmp', 'MediumAtt', 'MediumCmp%', 'LongCmp',
        'LongAtt', 'LongCmp%', 'Ast', 'xA', 'A-xA', '1/3', 'PPA',
        'CrsPA', 'TotPrgDist', 'Matches', 'TotPassAtt', 'TotPassCmpPerc'
    ],
                                 axis=1)

    #data cleaning
    passing_df = passing_df.replace(r'^\s*$', np.nan, regex=True)
    passing_df.iloc[:, :] = passing_df.iloc[:, :].astype('float64')

    return passing_df

In [11]:
passingtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')

                   TotPassAtt    KP   Prog
David de Gea           1087.0   1.0    1.0
Paul Pogba             2115.0  51.0  274.0
Victor Lindelöf        1481.0   4.0   71.0
Luke Shaw              1984.0  33.0  238.0
Ashley Young           1904.0  42.0  259.0
Nemanja Matić          1797.0  14.0  152.0
Marcus Rashford         728.0  38.0   75.0
Chris Smalling          924.0   3.0   38.0
Romelu Lukaku           583.0  24.0   49.0
Jesse Lingard           788.0  17.0   49.0
Anthony Martial         752.0  33.0   83.0
Ander Herrera           990.0  12.0   84.0
Juan Mata               766.0  29.0   84.0
Phil Jones              748.0   3.0   31.0
Fred                    769.0  14.0   72.0
Diogo Dalot             556.0  17.0   69.0
Alexis Sánchez          409.0  20.0   51.0
Scott McTominay         455.0   1.0   28.0
Eric Bailly             310.0   0.0   10.0
Marouane Fellaini       433.0   3.0   31.0
Andreas Pereira         360.0   9.0   38.0
Antonio Valencia        321.0   7.0   40.0
Matteo Darmian          206.0   2.0   17.0
Marcos Rojo             137.0   0.0    9.0
Mason Greenwood          61.0   3.0    4.0
Tahith Chong             15.0   0.0    2.0
Angel Gomes              23.0   0.0    1.0
James Garner              1.0   0.0    0.0

### Possession Stats

In [12]:
def possessiontable(teamURL):
    '''
    input: teamURL(str)
    output: dataframe of the possession stats table with selected stats
    '''
    #URL html for shooting table read in beautifulsoup
    page = requests.get(teamURL).text
    soup = BeautifulSoup(page, 'lxml')
    placeholder = soup.select_one('#all_kitchen_sink_possession .placeholder')
    comment = next(elem for elem in placeholder.next_siblings
                   if isinstance(elem, Comment))
    possessionsoup = BeautifulSoup(comment, 'lxml')

    #finding shooting stats table
    possession_table = possessionsoup.find('table',
                                           id='stats_possession_ks_1889')

    #player names in list
    possessers = [
        header for header in possession_table.find_all('th', class_='left')
    ]
    possesser_names = [
        name.text for th in possessers for name in th.find_all('a')
    ]

    #player stats in list
    possession_row = [row for row in possession_table.find_all('tr')]

    possession_stats = {}
    for possesser in possession_row[2:]:
        items = possesser.find_all('td')
        possession_stats[possesser] = [i.text for i in items]
    possession_stats_list = [stats for stats in possession_stats.values()]

    #matching player name with stats
    all_possession = {}
    all_possession.update(zip(possesser_names, possession_stats_list))

    #creating dataframe for team's players and stats
    possession_df = pd.DataFrame(all_possession).T
    possession_df.columns = [
        'Nation', 'Pos', 'Age', '90s', 'Touches', 'Def Pen', 'Def 3rd',
        'Mid 3rd', 'Touches_Att3rd', 'Att Pen', 'Live', 'DribSucc', 'DribAtt',
        'DribSuccPerc', 'DribPl', 'Megs', 'Carries', 'TotDist', 'PrgDist',
        'RecTarg', 'Rec', 'RecTargPerc', 'Miscon', 'Dispos', 'Matches'
    ]

    #dropping unneded columns
    possession_df = possession_df.drop([
        'Nation', 'Pos', 'Age', '90s', 'Touches_Att3rd', 'Def Pen', 'Def 3rd',
        'Mid 3rd', 'Att Pen', 'Live', 'DribAtt', 'DribSuccPerc', 'DribSucc', 'Megs', 'Carries',
        'TotDist', 'PrgDist', 'RecTarg', 'RecTargPerc', 'Miscon', 'Dispos', 'Matches', 'Touches', 'Rec'
    ],
                                       axis=1)

    #data cleaning
    possession_df = possession_df.replace(r'^\s*$', np.nan, regex=True)
    possession_df.iloc[:, :] = possession_df.iloc[:, :].astype('float64')

    return possession_df

In [13]:
possessiontable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')

                   Touches  DribPl     Rec
David de Gea        1169.0     0.0   422.0
Paul Pogba          2601.0    62.0  2075.0
Victor Lindelöf     1724.0     7.0  1142.0
Luke Shaw           2265.0    30.0  1371.0
Ashley Young        2172.0    23.0  1185.0
Nemanja Matić       2081.0    20.0  1410.0
Marcus Rashford     1128.0    52.0   851.0
Chris Smalling      1185.0     1.0   668.0
Romelu Lukaku        826.0    27.0   653.0
Jesse Lingard        979.0    23.0   765.0
Anthony Martial      978.0    34.0   812.0
Ander Herrera       1191.0    16.0   846.0
Juan Mata            873.0    13.0   659.0
Phil Jones           905.0     4.0   572.0
Fred                 924.0    13.0   647.0
Diogo Dalot          690.0    13.0   392.0
Alexis Sánchez       525.0    21.0   416.0
Scott McTominay      557.0     4.0   383.0
Eric Bailly          385.0     2.0   233.0
Marouane Fellaini    537.0     5.0   369.0
Andreas Pereira      430.0    10.0   308.0
Antonio Valencia     360.0     3.0   244.0
Matteo Darmian       261.0     2.0   149.0
Marcos Rojo          166.0     1.0   110.0
Mason Greenwood       84.0     3.0    65.0
Tahith Chong          22.0     1.0    19.0
Angel Gomes           27.0     0.0    22.0
James Garner           1.0     0.0     0.0

### Player Salaries

In [14]:
from unidecode import unidecode 

def salarytable(teamURL2):
    '''
    input: teamURL2 (str)
    output: dataframe of the salary table of selected team
    '''
    #URL html for salary table read in beautifulsoup
    page = requests.get(teamURL2).text
    soup = BeautifulSoup(page, 'lxml')

    #finding salary stats table
    salary_table = soup.find('table', attrs={'class': 'datatable rtable'})

    #player salaries in list
    player_row = [row for row in salary_table.find_all('tr')]

    player_salary = {}
    for player in player_row[1:]:
        items = player.find_all('td')
        player_name = items[0].text
        player_salary[player_name] = [i.text for i in items[1:]]

    #creating dataframe for team's players and salaries
    team_1819 = pd.DataFrame(player_salary).T
    team_1819.columns = [
        'Pos', 'Age', 'Blank', 'Annual_Salary(GBP)', 'Weekly_Salary'
    ]

    #dropping unneded columns
    team_1819 = team_1819.drop(['Pos', 'Age', 'Blank', 'Weekly_Salary'],
                               axis=1)

    #data cleaning
    team_1819 = team_1819.reset_index()
    team_1819['Annual_Salary(GBP)'] = team_1819['Annual_Salary(GBP)'].replace(
        '[^\w\s]', '', regex=True)
    team_1819['index'] = team_1819['index'].str.split(
        '\n', n=1).str[1].str.rstrip().apply(unidecode).str.lower()

    team_1819.set_index('index', inplace=True)

    return team_1819

In [15]:
salarytable('https://www.spotrac.com/epl/manchester-united-f.c/payroll/2018/')

                          Annual_Salary(GBP)
index
alexis sanchez                     18200000
paul pogba                         15080000
david de gea                       10400000
romelu lukaku                       9360000
juan mata                           8320000
luke shaw                           7800000
frederico de paula santos           6240000
victor lindelof                     6240000
nemanja matic                       6240000
ashley young                        6240000
ander herrera                       5980000
anthony martial                     5720000
marouane fellaini                   5200000
antonio valencia                    4420000
eric bailly                         4160000
marcos rojo                         4160000
chris smalling                      4160000
phil jones                          3900000
jesse lingard                       3900000
sergio romero                       3640000
matteo darmian                      2340000
marcus rashford                     2340000
lee grant                           1560000
andreas pereira                     1560000
diogo dalot                         1300000
scott mctominay                      520000

### Final Team Stats

In [16]:
manutd_standard = standardtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')
manutd_shooting = shootingtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')
manutd_passing = passingtable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')
manutd_possession = possessiontable(
    'https://fbref.com/en/squads/19538871/2018-2019/Manchester-United-Stats')
manutd_salary = salarytable(
    'https://www.spotrac.com/epl/manchester-united-f.c/payroll/2018/')

In [17]:
def teamfinaltable(team_standard, team_shooting, team_passing, team_possession, team_salary):
    '''
    input: team_standard, team_shooting, team_passing, team_possession (dataframes)
    output: merge input into one final table (dataframe)
    '''
    teamfinal_1819 = team_standard.join(team_shooting)
    teamfinal_1819 = teamfinal_1819.join(team_passing)
    teamfinal_1819 = teamfinal_1819.join(team_possession)
    
    #standardizing all letters - getting rid of accents, etc.
    teamfinal_1819 = teamfinal_1819.reset_index()
    teamfinal_1819['index'] = teamfinal_1819['index'].apply(unidecode).str.lower()
    teamfinal_1819.set_index('index', inplace=True)
    
    teamfinal_1819 = teamfinal_1819.join(team_salary)

    return teamfinal_1819

In [18]:
#merging manutd tables into one table
manutd_final = teamfinaltable(manutd_standard, manutd_shooting, manutd_passing,
                              manutd_possession, manutd_salary)

In [19]:
manutd_final

                     Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
david de gea          GK  27  38     38    1      0      0  38.0   0.00    0.00      1087.0   1.0    1.0   1169.0     0.0   422.0          10400000
paul pogba            MF  25  35     34    6   0.39   0.27  33.4   2.87    1.14      2115.0  51.0  274.0   2601.0    62.0  2075.0          15080000
victor lindelof       DF  24  30     29    1   0.03   0.03  28.9   0.24    0.03      1481.0   4.0   71.0   1724.0     7.0  1142.0           6240000
luke shaw             DF  23  29     29   11   0.03   0.14  28.8   0.69    0.21      1984.0  33.0  238.0   2265.0    30.0  1371.0           7800000
ashley young          DF  33  30     28    9   0.07   0.07  28.5   0.42    0.11      1904.0  42.0  259.0   2172.0    23.0  1185.0           6240000
nemanja matic         MF  29  28     28    7   0.04      0  27.1   0.44    0.11      1797.0  14.0  152.0   2081.0    20.0  1410.0           6240000
marcus rashford       FW  20  33     26    3   0.39   0.23  25.9   3.20    1.54       728.0  38.0   75.0   1128.0    52.0   851.0           2340000
chris smalling        DF  28  24     24    1   0.04      0  23.6   0.51    0.17       924.0   3.0   38.0   1185.0     1.0   668.0           4160000
romelu lukaku         FW  25  32     22    4   0.51      0  23.7   2.49    1.39       583.0  24.0   49.0    826.0    27.0   653.0           9360000
jesse lingard      FW,MF  25  27     19    3   0.22   0.11  18.5   1.68    0.65       788.0  17.0   49.0    979.0    23.0   765.0           3900000
anthony martial       FW  22  27     18    2   0.56   0.11  18.0   2.05    1.22       752.0  33.0   83.0    978.0    34.0   812.0           5720000
ander herrera         MF  28  22     16    4   0.13   0.19  15.6   1.35    0.58       990.0  12.0   84.0   1191.0    16.0   846.0           5980000
juan mata          FW,MF  30  22     16    3   0.21   0.14  14.3   1.33    0.42       766.0  29.0   84.0    873.0    13.0   659.0           8320000
phil jones            DF  26  18     15    1      0   0.07  14.0   0.36    0.14       748.0   3.0   31.0    905.0     4.0   572.0           3900000
fred                  MF  25  17     13    2   0.09   0.09  11.6   1.47    0.17       769.0  14.0   72.0    924.0    13.0   647.0                NaN
diogo dalot        DF,MF  19  16     12    3      0   0.18  11.3   1.33    0.00       556.0  17.0   69.0    690.0    13.0   392.0           1300000
alexis sanchez     FW,MF  29  20      9    3    0.1   0.31   9.8   1.84    0.92       409.0  20.0   51.0    525.0    21.0   416.0          18200000
scott mctominay    MF,DF  21  16      9    1   0.21      0   9.6   1.56    0.62       455.0   1.0   28.0    557.0     4.0   383.0            520000
eric bailly           DF  24  12      8    0      0      0   7.1   0.42    0.14       310.0   0.0   10.0    385.0     2.0   233.0           4160000
marouane fellaini     MF  30  14      6    1      0   0.12   8.4   0.96    0.36       433.0   3.0   31.0    537.0     5.0   369.0           5200000
andreas pereira       MF  22  15      6    5   0.15   0.15   6.7   1.20    0.30       360.0   9.0   38.0    430.0    10.0   308.0           1560000
antonio valencia   DF,MF  32   6      5    2      0      0   5.2   0.39    0.00       321.0   7.0   40.0    360.0     3.0   244.0           4420000
matteo darmian        DF  28   6      5    0      0      0   4.9   0.20    0.20       206.0   2.0   17.0    261.0     2.0   149.0           2340000
marcos rojo           DF  28   5      2    2      0      0   2.4   2.55    1.27       137.0   0.0    9.0    166.0     1.0   110.0           4160000
mason greenwood       FW  16   3      1    0      0      0   1.3   5.38    3.08        61.0   3.0    4.0     84.0     3.0    65.0                NaN
tahith chong          FW  18   2      0    0      0      0   0.4   4.74    2.37        15.0   0.0    2.0     22.0     1.0    19.0                NaN
angel gomes        MF,FW  17   2      0    0      0      0   0.3   6.67    3.33        23.0   0.0    1.0     27.0     0.0    22.0                NaN
james garner          MF  17   1      0    0      0      0   0.0   0.00    0.00         1.0   0.0    0.0      1.0     0.0     0.0                NaN
lee grant             GK  35   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1560000
sergio romero         GK  31   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           3640000

## Manchester City

### Final Team Stats

In [20]:
mancity_standard = standardtable(
    'https://fbref.com/en/squads/b8fd03ef/2018-2019/Manchester-City-Stats')
mancity_shooting = shootingtable(
    'https://fbref.com/en/squads/b8fd03ef/2018-2019/Manchester-City-Stats')
mancity_passing = passingtable(
    'https://fbref.com/en/squads/b8fd03ef/2018-2019/Manchester-City-Stats')
mancity_possession = possessiontable(
    'https://fbref.com/en/squads/b8fd03ef/2018-2019/Manchester-City-Stats')
mancity_salary = salarytable(
    'https://www.spotrac.com/epl/manchester-city-f.c/payroll/2018/')

In [21]:
#merging mancity tables into one table
mancity_final = teamfinaltable(mancity_standard, mancity_shooting,
                               mancity_passing, mancity_possession, mancity_salary)

In [22]:
mancity_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
ederson                 GK  24  38     38    2      0   0.03  38.0   0.00    0.00      1071.0   3.0    3.0   1130.0     1.0   628.0                NaN
aymeric laporte         DF  24  35     34    3   0.09   0.09  34.0   0.79    0.21      3028.0  14.0  251.0   3275.0     3.0  2602.0           3380000
bernardo silva       MF,FW  23  36     31    3   0.22   0.22  31.7   2.02    0.69      1798.0  70.0  168.0   2141.0    55.0  1628.0           6240000
raheem sterling         FW  23  34     31    3   0.55   0.29  30.8   2.47    1.20      1337.0  58.0  100.0   1765.0    91.0  1453.0           9360000
sergio aguero           FW  30  33     31    4   0.77   0.29  27.3   4.32    1.50       785.0  34.0   68.0   1142.0    32.0   892.0          13000000
kyle walker             DF  28  33     30    3   0.03   0.03  30.9   0.65    0.10      2655.0  24.0  189.0   2896.0    25.0  2128.0           5200000
david silva             MF  32  33     28    2   0.22    0.3  26.7   1.87    0.67      2083.0  73.0  204.0   2309.0    31.0  1911.0          11440000
fernandinho             MF  33  29     27    5   0.04   0.11  26.4   1.17    0.27      2068.0  24.0  218.0   2349.0    12.0  1760.0                NaN
ilkay gundogan          MF  27  31     23    3   0.25   0.13  23.7   1.81    0.46      2095.0  43.0  201.0   2275.0    18.0  1806.0           6240000
leroy sane              FW  22  31     21    1   0.48   0.48  20.7   2.70    1.16       954.0  36.0   93.0   1253.0    65.0   986.0           4680000
john stones             DF  24  24     20    1      0      0  19.6   0.26    0.05      1741.0   5.0   86.0   1870.0     5.0  1504.0           5200000
riyad mahrez         FW,MF  27  27     14    0   0.47   0.27  14.9   3.62    1.61       884.0  25.0   98.0   1069.0    33.0   832.0           6240000
nicolas otamendi        DF  30  18     14    1      0      0  13.7   1.02    0.22      1243.0   2.0   54.0   1383.0     1.0  1081.0           6240000
oleksandr zinchenko     DF  21  14     14    1      0   0.23  12.8   0.55    0.08      1338.0  12.0  117.0   1456.0     8.0  1066.0           1040000
vincent kompany         DF  32  17     13    6   0.07      0  13.6   0.22    0.07      1212.0   3.0   68.0   1308.0     3.0  1053.0           6240000
kevin de bruyne         MF  27  19     11    2   0.18   0.18  10.8   2.86    1.02       819.0  33.0  110.0    946.0    20.0   730.0          18200000
benjamin mendy          DF  24  10     10    1      0    0.5  10.0   0.70    0.20       791.0  12.0  113.0    875.0    15.0   603.0           4680000
danilo                  DF  27  11      9    1   0.11      0   9.0   1.56    0.33       871.0   5.0   66.0    981.0     6.0   677.0                NaN
gabriel jesus           FW  21  29      8    1   0.61   0.26  11.5   3.65    1.91       358.0  20.0   21.0    535.0    26.0   422.0           4680000
fabian delph            DF  28  11      8    1      0   0.12   8.1   0.50    0.37       758.0   3.0   63.0    824.0     6.0   613.0           4680000
phil foden              MF  18  13      3    0   0.27      0   3.7   3.76    1.61       235.0   8.0   19.0    279.0     9.0   228.0            624000
claudio bravo           GK  35   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           4160000
arijanet muric          GK  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
philippe sandler        DF  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1976000

## Liverpool

### Final Team Stats

In [23]:
liverpool_standard = standardtable(
    'https://fbref.com/en/squads/822bd0ba/2018-2019/Liverpool-Stats')
liverpool_shooting = shootingtable(
    'https://fbref.com/en/squads/822bd0ba/2018-2019/Liverpool-Stats')
liverpool_passing = passingtable(
    'https://fbref.com/en/squads/822bd0ba/2018-2019/Liverpool-Stats')
liverpool_possession = possessiontable(
    'https://fbref.com/en/squads/822bd0ba/2018-2019/Liverpool-Stats')
liverpool_salary = salarytable(
    'https://www.spotrac.com/epl/liverpool-f.c/payroll/2018/')

In [24]:
#merging liverpool tables into one table
liverpool_final = teamfinaltable(liverpool_standard, liverpool_shooting,
                                 liverpool_passing, liverpool_possession, liverpool_salary)

In [25]:
liverpool_final

                           Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
alisson                     GK  25  38     38    1      0      0  38.0   0.00    0.00      1262.0   0.0    0.0   1341.0     1.0   671.0                NaN
virgil van dijk             DF  27  38     38    1   0.11   0.05  37.6   0.85    0.21      2996.0   6.0  157.0   3376.0     8.0  2410.0           9360000
mohamed salah               FW  26  38     37    1   0.61   0.22  36.1   3.74    1.66      1150.0  68.0  158.0   1659.0    86.0  1301.0          10400000
andrew robertson            DF  24  36     36    4      0   0.31  35.7   0.39    0.14      2797.0  52.0  321.0   3101.0    32.0  2155.0           2600000
sadio mane                  FW  26  36     35    2   0.64   0.03  34.2   2.57    1.23      1215.0  43.0  111.0   1682.0    67.0  1323.0           5200000
georginio wijnaldum         MF  27  35     32    3    0.1      0  30.3   0.99    0.26      1778.0  21.0  131.0   2036.0    36.0  1546.0           3900000
roberto firmino          FW,MF  26  34     31    0   0.41   0.21  29.0   2.52    1.07      1303.0  42.0  158.0   1647.0    60.0  1327.0           9360000
trent alexander-arnold      DF  19  29     27    3   0.04   0.44  27.4   1.06    0.33      2213.0  48.0  322.0   2492.0    23.0  1543.0                NaN
fabinho                     MF  24  28     21    6   0.04   0.09  22.4   0.76    0.18      1631.0  16.0  135.0   1857.0    16.0  1349.0                NaN
jordan henderson            MF  28  32     21    2   0.05   0.14  22.1   0.72    0.05      1799.0  14.0  148.0   1985.0    13.0  1481.0           7280000
james milner             MF,DF  32  31     19    6   0.25    0.2  19.9   1.06    0.20      1614.0  45.0  207.0   1825.0    18.0  1247.0           7280000
joel matip                  DF  26  22     17    3   0.06      0  17.1   0.47    0.12      1320.0   2.0   60.0   1500.0     5.0  1079.0           5200000
naby keita                  MF  23  25     16    0   0.13   0.06  15.4   1.81    0.58      1013.0  10.0  114.0   1227.0    30.0   958.0           6240000
joe gomez                   DF  21  16     12    2      0      0  11.8   0.34    0.08       828.0   6.0   42.0    926.0     5.0   631.0           1560000
xherdan shaqiri          FW,MF  26  24     11    2   0.51   0.25  11.8   2.20    0.85       695.0  19.0   80.0    819.0     8.0   624.0           4160000
dejan lovren                DF  29  13     11    1   0.09      0  11.0   0.55    0.09       809.0   1.0   29.0    939.0     0.0   655.0           5200000
adam lallana             MF,FW  30  13      5    1      0      0   5.2   0.96    0.38       304.0   9.0   35.0    378.0    10.0   282.0           5720000
daniel sturridge         FW,MF  28  18      4    1   0.35   0.18   5.7   3.18    1.06       188.0   8.0   31.0    257.0     5.0   211.0           6760000
divock origi                FW  23  12      4    0   0.73   0.24   4.1   3.15    1.46       115.0   3.0    9.0    177.0     9.0   127.0           2340000
alberto moreno              DF  26   2      2    0      0      0   1.7   0.58    0.00       126.0   3.0   15.0    139.0     4.0    96.0           3380000
nathaniel clyne             DF  27   4      1    0      0      0   1.2   2.43    0.00        84.0   0.0   10.0    105.0     0.0    58.0                NaN
alex oxlade-chamberlain  MF,FW  24   2      0    0      0      0   0.2   4.29    4.29        14.0   1.0    6.0     19.0     1.0    16.0           6240000
rafael camacho              DF  18   1      0    0      0      0   0.0   0.00    0.00         0.0   0.0    0.0      1.0     0.0     0.0                NaN
curtis jones                MF  17   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
loris karius                GK  25   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
simon mignolet              GK  30   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           3120000

## Chelsea

### Final Team Stats

In [26]:
chelsea_standard = standardtable(
    'https://fbref.com/en/squads/cff3d9bb/2018-2019/Chelsea-Stats')
chelsea_shooting = shootingtable(
    'https://fbref.com/en/squads/cff3d9bb/2018-2019/Chelsea-Stats')
chelsea_passing = passingtable(
    'https://fbref.com/en/squads/cff3d9bb/2018-2019/Chelsea-Stats')
chelsea_possession = possessiontable(
    'https://fbref.com/en/squads/cff3d9bb/2018-2019/Chelsea-Stats')
chelsea_salary = salarytable(
    'https://www.spotrac.com/epl/chelsea-f.c/payroll/2018/')

In [27]:
#merging chelsea tables into one table
chelsea_final = teamfinaltable(chelsea_standard, chelsea_shooting,
                               chelsea_passing, chelsea_possession, chelsea_salary)

In [28]:
chelsea_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
cesar azpilicueta       DF  28  38     38    4   0.03   0.13  37.8   0.45    0.19      2892.0  25.0  231.0   3261.0    17.0  2144.0           4680000
jorginho                MF  26  37     37    8   0.06      0  35.1   0.51    0.17      3032.0  29.0  317.0   3329.0    16.0  2612.0                NaN
kepa arrizabalaga       GK  23  36     36    2      0      0  36.0   0.00    0.00      1136.0   0.0    1.0   1208.0     1.0   623.0           7800000
david luiz              DF  31  36     36    3   0.08   0.06  36.0   0.92    0.22      2621.0  16.0  232.0   2937.0     8.0  2143.0           6240000
n'golo kante            MF  27  36     36    3   0.12   0.12  34.4   0.84    0.17      2056.0  47.0  150.0   2443.0    36.0  1792.0           7500000
antonio rudiger         DF  25  33     33    7   0.03      0  31.9   0.88    0.22      2528.0   5.0  149.0   2762.0     5.0  2079.0           6000000
eden hazard             FW  27  37     32    2   0.49   0.46  32.5   2.77    1.20      1999.0  93.0  269.0   2461.0   143.0  2082.0          11700000
marcos alonso           DF  27  31     31    6   0.07   0.13  30.7   1.40    0.23      2226.0  31.0  175.0   2614.0    25.0  1706.0           5200000
willian                 FW  29  32     26    2   0.13   0.26  23.3   2.66    0.94      1414.0  82.0  186.0   1699.0    41.0  1295.0                NaN
pedro                   FW  31  31     21    2    0.4    0.1  19.8   2.94    1.21      1135.0  27.0   77.0   1350.0    38.0  1122.0                NaN
mateo kovacic           MF  24  32     21    3      0    0.1  19.3   1.50    0.16      1485.0  25.0  100.0   1706.0    34.0  1418.0           3900000
ross barkley            MF  24  27     13    1   0.22   0.36  13.8   2.75    0.58       973.0  21.0   66.0   1138.0    19.0   906.0           5000000
gonzalo higuain         FW  30  14     13    0   0.41      0  12.1   3.73    1.08       325.0  15.0   11.0    447.0    15.0   380.0                NaN
alvaro morata           FW  25  16     11    3   0.48      0  10.5   3.35    1.53       219.0   6.0    5.0    348.0     7.0   287.0                NaN
olivier giroud          FW  31  27      7    1   0.21   0.43   9.4   3.29    1.06       251.0  16.0   12.0    345.0     2.0   293.0           6240000
emerson palmieri        DF  23  10      7    0      0      0   7.4   0.68    0.14       518.0   4.0   37.0    599.0    11.0   422.0           2184000
ruben loftus-cheek   MF,FW  22  24      6    0   0.54   0.18  11.1   2.43    0.72       624.0  17.0   51.0    781.0    29.0   607.0           1820000
andreas christensen     DF  22   8      6    1      0      0   6.9   0.00    0.00       446.0   0.0   32.0    507.0     0.0   346.0           4160000
callum hudson-odoi      FW  17  10      4    0      0   0.23   4.4   1.37    0.69       236.0   8.0   16.0    287.0    11.0   239.0                NaN
willy caballero         GK  36   2      2    0      0      0   2.0   0.00    0.00        63.0   0.0    0.0     65.0     0.0    29.0           2080000
cesc fabregas           MF  31   6      1    1      0      0   2.0   0.50    0.00       193.0   3.0   19.0    217.0     0.0   177.0           8112000
davide zappacosta       DF  26   4      1    0      0      0   1.4   1.41    0.70        91.0   1.0    7.0    110.0     4.0    70.0           3640000
victor moses            FW  27   2      0    0      0      0   0.3   0.00    0.00        14.0   0.0    1.0     21.0     0.0    16.0           3900000
gary cahill             DF  32   2      0    0      0      0   0.3   0.00    0.00        20.0   0.0    6.0     20.0     0.0    15.0           5200000
ethan ampadu            MF  17   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            390000
danny drinkwater        MF  28   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           5200000
marc guehi              DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Tottenham

### Final Team Stats

In [29]:
tottenham_standard = standardtable(
    'https://fbref.com/en/squads/361ca564/2018-2019/Tottenham-Hotspur-Stats')
tottenham_shooting = shootingtable(
    'https://fbref.com/en/squads/361ca564/2018-2019/Tottenham-Hotspur-Stats')
tottenham_passing = passingtable(
    'https://fbref.com/en/squads/361ca564/2018-2019/Tottenham-Hotspur-Stats')
tottenham_possession = possessiontable(
    'https://fbref.com/en/squads/361ca564/2018-2019/Tottenham-Hotspur-Stats')
tottenham_salary = salarytable(
    'https://www.spotrac.com/epl/tottenham-hotspur-f.c/payroll/2018/')

In [30]:
#merging tottenham tables into one table
tottenham_final = teamfinaltable(tottenham_standard, tottenham_shooting,
                                 tottenham_passing, tottenham_possession, tottenham_salary)

In [31]:
tottenham_final

                          Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
hugo lloris                GK  31  33     33    0      0      0  33.0   0.00    0.00      1169.0   1.0    0.0   1262.0     0.0   634.0           5200000
toby alderweireld          DF  29  34     33    3      0      0  32.5   0.52    0.18      2342.0   7.0  133.0   2632.0     2.0  1899.0                NaN
christian eriksen       MF,FW  26  35     30    3   0.26   0.39  30.8   2.73    1.01      1985.0  75.0  228.0   2294.0    23.0  1692.0           3900000
harry kane                 FW  25  28     27    5   0.63   0.15  26.9   3.60    1.56       575.0  29.0   81.0    935.0    45.0   743.0          10400000
moussa sissoko             MF  28  29     27    2      0   0.12  25.9   0.58    0.12      1397.0  23.0  102.0   1643.0    49.0  1185.0           4160000
kieran trippier            DF  27  27     26    2   0.04   0.12  25.3   0.32    0.12      2000.0  48.0  262.0   2237.0    10.0  1346.0           3380000
lucas moura             FW,MF  25  32     25    3   0.42      0  23.6   1.91    0.85       745.0  27.0   61.0   1077.0    46.0   791.0           4160000
son heung-min           FW,MF  26  31     23    2   0.53   0.26  22.7   3.31    1.24       772.0  31.0   71.0   1088.0    62.0   858.0                NaN
davinson sanchez           DF  22  23     22    2   0.05   0.05  21.6   0.56    0.14      1424.0   1.0   52.0   1659.0     0.0  1152.0           3380000
jan vertonghen             DF  31  22     22    4   0.05      0  21.2   0.75    0.09      1535.0   3.0   93.0   1749.0    10.0  1221.0           5200000
dele alli               MF,FW  22  25     22    4   0.25   0.15  20.3   1.97    0.89      1050.0  28.0   99.0   1313.0    33.0   965.0           5200000
ben davies                 DF  25  27     20    2      0      0  20.5   0.73    0.05      1314.0  17.0  145.0   1532.0     5.0   946.0           3120000
danny rose              DF,MF  28  26     20    5      0   0.15  20.0   0.75    0.10      1173.0  26.0  130.0   1438.0    39.0   898.0           3120000
eric dier                  MF  24  20     18    4   0.18      0  16.7   0.54    0.18      1058.0   8.0   78.0   1210.0     4.0   880.0           3120000
harry winks                MF  22  26     17    4   0.06      0  17.7   0.51    0.11      1398.0   6.0   85.0   1531.0    18.0  1204.0           2600000
juan foyth                 DF  20  12     10    3    0.1      0   9.9   0.51    0.10       588.0   3.0   24.0    721.0    22.0   472.0           1118000
erik lamela             FW,MF  26  19      9    2   0.37   0.18  10.8   2.68    1.02       449.0  24.0   47.0    600.0    23.0   437.0           4160000
mousa dembele              MF  31  10      7    1      0      0   5.7   0.17    0.00       308.0   0.0   23.0    359.0     7.0   233.0                NaN
fernando llorente          FW  33  20      6    2   0.13   0.52   7.7   2.98    0.65       220.0  11.0    6.0    329.0    10.0   254.0           3900000
serge aurier            DF,MF  25   8      6    1      0   0.32   6.3   0.64    0.16       343.0   5.0   40.0    432.0    10.0   238.0           3640000
victor wanyama             MF  27  13      4    2   0.17      0   5.7   1.22    0.35       314.0   2.0   16.0    388.0     6.0   254.0           3380000
kyle walker-peters         DF  21   6      4    1      0   0.72   4.2   0.48    0.00       226.0   8.0   21.0    265.0     8.0   165.0           1040000
paulo gazzaniga            GK  26   3      3    0      0      0   3.0   0.00    0.00       105.0   0.0    0.0    113.0     0.0    55.0           1040000
oliver skipp            MF,FW  17   8      2    0      0      0   2.4   0.82    0.00       137.0   1.0    5.0    162.0     3.0   110.0                NaN
michel vorm                GK  34   2      2    0      0      0   2.0   0.00    0.00        59.0   0.0    0.0     66.0     0.0    32.0           2080000
vincent janssen            FW  24   3      0    0      0      0   0.4   6.92    4.62        10.0   0.0    0.0     17.0     0.0    13.0           1768000
georges-kevin n'koudou     FW  23   1      0    0      0     18   0.1   0.00    0.00         4.0   1.0    1.0      6.0     0.0     5.0                NaN
luke amos                  MF  21   1      0    0      0      0   0.0   0.00    0.00         2.0   0.0    0.0      4.0     0.0     1.0                NaN
timothy eyoma              DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
george marsh            DF,MF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
kazaiah sterling           FW  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
alfie whiteman             GK  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Arsenal

### Final Team Stats

In [32]:
arsenal_standard = standardtable(
    'https://fbref.com/en/squads/18bb7c10/2018-2019/Arsenal-Stats')
arsenal_shooting = shootingtable(
    'https://fbref.com/en/squads/18bb7c10/2018-2019/Arsenal-Stats')
arsenal_passing = passingtable(
    'https://fbref.com/en/squads/18bb7c10/2018-2019/Arsenal-Stats')
arsenal_possession = possessiontable(
    'https://fbref.com/en/squads/18bb7c10/2018-2019/Arsenal-Stats')
arsenal_salary = salarytable(
    'https://www.spotrac.com/epl/arsenal-f.c/payroll/2018/')

In [33]:
#merging arsenal tables into one table
arsenal_final = teamfinaltable(arsenal_standard, arsenal_shooting,
                               arsenal_passing, arsenal_possession, arsenal_salary)

In [34]:
arsenal_final

                             Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
bernd leno                    GK  26  32     31    0      0      0  31.5   0.00    0.00      1102.0   0.0    2.0   1193.0     0.0   521.0           5200000
shkodran mustafi              DF  26  31     31    9   0.07      0  29.0   0.65    0.31      1747.0   5.0  105.0   2128.0    12.0  1369.0           4680000
pierre-emerick aubameyang     FW  29  36     30    0   0.73   0.17  30.3   2.94    1.12       742.0  33.0   68.0   1074.0    32.0   831.0          10400000
granit xhaka               MF,DF  25  29     29   10   0.14   0.07  27.8   1.08    0.40      2378.0  38.0  272.0   2645.0    16.0  1851.0           5200000
alexandre lacazette           FW  27  35     27    2   0.47   0.29  27.8   2.91    1.01       797.0  29.0   79.0   1168.0    53.0   893.0           9467273
sokratis papastathopoulos     DF  30  25     25   12   0.04   0.08  24.4   0.41    0.04      1353.0   4.0   40.0   1610.0     8.0  1129.0           4784000
lucas torreira                MF  22  34     24    7   0.08   0.08  26.5   0.91    0.23      1623.0  16.0  137.0   1917.0    23.0  1279.0           3900000
matteo guendouzi              MF  19  33     23    9      0      0  23.9   0.63    0.13      1623.0  19.0  146.0   1855.0    33.0  1395.0           2080000
alex iwobi                 FW,MF  22  35     22    0   0.14   0.27  21.9   1.60    0.64      1031.0  39.0  130.0   1302.0    58.0  1073.0           2600000
sead kolasinac                DF  25  24     22    5      0   0.24  21.0   0.48    0.10      1227.0  32.0  117.0   1412.0    17.0   880.0           5200000
nacho monreal                 DF  32  22     21    5   0.05   0.15  20.7   0.44    0.19      1296.0  11.0  101.0   1499.0    10.0   988.0           3640000
mesut ozil                 MF,FW  29  24     20    2   0.26    0.1  19.3   0.57    0.31      1179.0  46.0  147.0   1336.0    19.0  1106.0          18200000
henrikh mkhitaryan         FW,MF  29  25     19    1   0.33   0.22  18.2   2.74    0.77       872.0  27.0   96.0   1137.0    27.0   776.0           9360000
hector bellerin               DF  23  19     18    3      0   0.29  17.0   1.06    0.23       947.0   9.0  104.0   1094.0    19.0   697.0           5720000
aaron ramsey               MF,FW  27  28     14    0   0.27   0.41  14.8   2.23    0.81       790.0  24.0   70.0    971.0    14.0   769.0           6240000
laurent koscielny             DF  32  17     13    1    0.2      0  14.8   0.34    0.27       871.0   2.0   27.0   1034.0     1.0   698.0           4680000
ainsley maitland-niles        DF  20  16     11    2   0.09   0.09  11.0   0.55    0.27       571.0   6.0   73.0    721.0    19.0   411.0           1820000
stephan lichtsteiner          DF  34  14     10    3      0      0  10.4   0.10    0.00       600.0   2.0   47.0    696.0     8.0   438.0           3900000
rob holding                   DF  22  10      9    1      0      0   9.0   0.11    0.00       614.0   2.0   23.0    691.0     4.0   500.0           1300000
petr cech                     GK  36   7      7    0      0      0   6.5   0.00    0.00       242.0   0.0    0.0    275.0     1.0   130.0           5720000
mohamed elneny                MF  26   8      5    0      0      0   4.2   1.66    0.00       287.0   4.0   28.0    325.0     1.0   251.0           2600000
konstantinos mavropanos       DF  20   4      3    1      0      0   1.6   0.61    0.00       133.0   1.0    8.0    149.0     1.0   113.0           1300000
carl jenkinson                DF  26   3      2    0      0      0   1.8   0.00    0.00        92.0   0.0    4.0    106.0     0.0    67.0           2340000
danny welbeck              FW,MF  27   8      1    0   0.59   0.59   1.7   2.35    1.18        54.0   7.0   11.0     78.0     3.0    56.0           6500000
joe willock                   MF  18   2      1    0      0      0   0.7   2.81    0.00        12.0   0.0    0.0     29.0     1.0    24.0                NaN
denis suarez                  FW  24   4      0    0      0      0   0.8   0.00    0.00        35.0   0.0    2.0     48.0     3.0    38.0                NaN
eddie nketiah              MF,FW  19   5      0    0   1.34      0   0.7   4.03    1.34        20.0   1.0    2.0     35.0     2.0    26.0                NaN
bukayo saka                   FW  16   1      0    0      0      0   0.1   0.00    0.00         0.0   0.0    0.0      0.0     0.0     0.0                NaN
emiliano martinez             GK  25   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1040000
zechariah medley              DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
emile smith-rowe              MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Wolves

### Final Team Stats

In [35]:
wolves_standard = standardtable(
    'https://fbref.com/en/squads/8cec06e1/2018-2019/Wolverhampton-Wanderers-Stats'
)
wolves_shooting = shootingtable(
    'https://fbref.com/en/squads/8cec06e1/2018-2019/Wolverhampton-Wanderers-Stats'
)
wolves_passing = passingtable(
    'https://fbref.com/en/squads/8cec06e1/2018-2019/Wolverhampton-Wanderers-Stats'
)
wolves_possession = possessiontable(
    'https://fbref.com/en/squads/8cec06e1/2018-2019/Wolverhampton-Wanderers-Stats'
)
wolves_salary = salarytable(
    'https://www.spotrac.com/epl/wolverhampton-wanderers-f.c/payroll/2018/'
)

In [36]:
#merging wolves tables into one table
wolves_final = teamfinaltable(wolves_standard, wolves_shooting, wolves_passing,
                              wolves_possession, wolves_salary)

In [37]:
wolves_final

                      Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
conor coady            DF  25  38     38    5      0      0  38.0   0.00    0.00      1677.0   0.0   61.0   1937.0     2.0  1267.0            780000
rui patricio           GK  30  37     37    1      0      0  37.0   0.00    0.00       835.0   0.0    0.0    915.0     0.0   280.0           5200000
willy boly             DF  27  36     36    2   0.11      0  35.2   0.63    0.17      1695.0  10.0  125.0   2149.0    17.0  1282.0           2080000
raul jimenez           FW  27  38     36    4   0.38    0.2  34.6   3.27    0.93      1072.0  42.0   81.0   1535.0    37.0  1133.0           2132000
matt doherty        DF,MF  26  38     35    5   0.11   0.14  34.9   1.23    0.49      1828.0  41.0  294.0   2274.0    30.0  1294.0            520000
joao moutinho          MF  31  38     35    4   0.03   0.24  33.7   0.53    0.09      2063.0  80.0  263.0   2383.0    15.0  1467.0                NaN
ryan bennett           DF  28  34     34   12   0.03      0  34.0   0.44    0.09      1387.0   5.0   95.0   1709.0     1.0   980.0           1040000
ruben neves            MF  21  35     34    8   0.12   0.09  33.4   2.13    0.45      1946.0  19.0  176.0   2326.0    14.0  1503.0           2600000
jonny castro        DF,MF  24  33     32    6   0.03   0.03  30.8   0.84    0.23      1394.0  25.0  107.0   1778.0    27.0   955.0           1907000
diogo jota          FW,MF  21  33     29   11   0.34   0.19  26.2   2.18    0.88       788.0  27.0   78.0   1170.0    65.0   870.0           2860000
leander dendoncker     MF  23  19     17    1   0.12      0  16.3   0.98    0.55       625.0   7.0   37.0    808.0    12.0   504.0           1972000
helder costa        FW,MF  24  25     16    3   0.07   0.13  14.9   1.68    0.47       493.0  17.0   39.0    702.0    33.0   533.0           1690000
romain saiss        MF,DF  28  19     12    7   0.16      0  12.8   0.86    0.39       706.0   3.0   59.0    908.0     5.0   528.0           1144000
adama traore        FW,DF  22  29      8    1    0.1    0.1  10.0   1.90    0.70       334.0  17.0   45.0    524.0    63.0   371.0           2236000
ruben vinagre       DF,MF  19  17      7    1      0      0   7.9   0.63    0.51       424.0   6.0   50.0    521.0    14.0   303.0           1560000
ivan cavaleiro      FW,MF  24  23      6    1   0.39   0.13   7.7   1.56    0.52       356.0  17.0   30.0    465.0    17.0   359.0           1450000
morgan gibbs-white  MF,FW  18  26      5    1      0   0.14   7.4   1.09    0.14       336.0  12.0   23.0    416.0    15.0   315.0             78000
john ruddy             GK  31   1      1    0      0      0   1.0   0.00    0.00        21.0   0.0    0.0     21.0     0.0     7.0           1820000
leo bonatini           FW  24   7      0    0      0   0.67   1.5   6.00    0.67        55.0   2.0    5.0     78.0     0.0    62.0           1820000
max kilman             DF  21   1      0    0      0      0   0.0   0.00    0.00         0.0   0.0    0.0      0.0     0.0     0.0                NaN
will norris            GK  24   1      0    0      0      0   0.0   0.00    0.00         0.0   0.0    0.0      0.0     0.0     0.0            156000
bright enobakhare   FW,MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
kortney hause          DF  23   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            416000
ryan john giles        MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
cameron john           DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Everton

### Final Team Stats

In [38]:
everton_standard = standardtable(
    'https://fbref.com/en/squads/d3fd31cc/2018-2019/Everton-Stats')
everton_shooting = shootingtable(
    'https://fbref.com/en/squads/d3fd31cc/2018-2019/Everton-Stats')
everton_passing = passingtable(
    'https://fbref.com/en/squads/d3fd31cc/2018-2019/Everton-Stats')
everton_possession = possessiontable(
    'https://fbref.com/en/squads/d3fd31cc/2018-2019/Everton-Stats')
everton_salary = salarytable(
    'https://www.spotrac.com/epl/everton-f.c/payroll/2018/')

In [39]:
#merging everton tables into one table
everton_final = teamfinaltable(everton_standard, everton_shooting,
                               everton_passing, everton_possession, everton_salary)

In [40]:
everton_final

                         Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
jordan pickford           GK  24  38     38    1      0      0  38.0   0.00    0.00      1250.0   1.0    1.0   1349.0     0.0   563.0           5200000
gylfi sigurdsson          MF  28  38     36    3   0.38   0.17  34.6   2.34    0.84      1231.0  72.0  190.0   1613.0    42.0   996.0           5200000
michael keane             DF  25  33     33    2   0.03   0.06  33.0   0.88    0.27      1558.0   8.0  108.0   1934.0     7.0  1106.0           3120000
lucas digne               DF  25  35     33    5   0.12   0.12  32.9   1.03    0.30      2059.0  70.0  293.0   2474.0    16.0  1205.0           4680000
idrissa gana gueye        MF  28  33     32    6      0   0.06  31.4   0.64    0.10      1758.0  19.0  171.0   2130.0    23.0  1302.0                NaN
richarlison            FW,MF  21  35     32    5   0.44   0.03  29.6   2.94    0.91       837.0  17.0   76.0   1350.0    50.0   944.0                NaN
kurt zouma                DF  23  32     29    4   0.07   0.07  29.0   0.59    0.14      1429.0   6.0   87.0   1746.0     5.0  1042.0           4000000
seamus coleman            DF  29  29     29    1   0.07   0.07  28.4   0.46    0.18      1583.0  22.0  188.0   1894.0    26.0  1027.0           3640000
bernard                FW,MF  25  34     25    5   0.04   0.13  23.5   1.02    0.21       867.0  40.0   91.0   1204.0    48.0   821.0                NaN
theo walcott           FW,MF  29  37     24    1   0.21   0.08  23.5   1.83    0.89       631.0  21.0   66.0    909.0    27.0   677.0           5200000
andre gomes               MF  25  27     24    7   0.05   0.05  22.0   1.00    0.23      1230.0   7.0  117.0   1460.0    37.0  1008.0           5800000
dominic calvert-lewin     FW  21  35     19    3    0.3    0.1  19.8   2.77    0.86       441.0  10.0   21.0    736.0    27.0   554.0           1040000
cenk tosun                FW  27  25     10    3   0.25   0.25  11.8   2.89    1.27       255.0  11.0   18.0    397.0     9.0   286.0           3120000
tom davies                MF  20  16     10    3      0      0  10.9   0.64    0.18       525.0   5.0   51.0    651.0    12.0   418.0           1300000
yerry mina                DF  23  13     10    3    0.1      0   9.9   0.40    0.10       488.0   3.0   34.0    600.0     1.0   371.0           6240000
morgan schneiderlin       MF  28  14     10    2      0   0.11   9.3   0.32    0.00       544.0   9.0   29.0    640.0     7.0   422.0           5200000
jonjoe kenny              DF  21  10      8    1      0   0.11   8.8   0.34    0.00       575.0   5.0   81.0    675.0    10.0   346.0            780000
leighton baines           DF  33   6      5    0      0      0   4.2   0.48    0.24       261.0   4.0   43.0    288.0     0.0   163.0           3640000
mason holgate             DF  21   5      4    1      0      0   4.5   0.00    0.00       258.0   0.0   26.0    293.0     2.0   182.0           1300000
phil jagielka             DF  35   7      4    0   0.27      0   3.7   0.27    0.27       177.0   1.0    6.0    219.0     0.0   125.0           2600000
ademola lookman        FW,MF  20  21      3    0      0   0.29   6.9   1.75    0.44       273.0   9.0   33.0    391.0    28.0   279.0           1196000
oumar niasse           FW,MF  28   5      0    0      0      0   0.7   4.29    1.43        22.0   1.0    3.0     41.0     2.0    37.0           2860000
james mccarthy            MF  27   1      0    0      0      0   0.2   0.00    0.00         8.0   0.0    0.0     10.0     0.0     4.0           2600000
tyias browning            DF  24   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
kieran dowell          FW,MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            780000
sandro ramirez            FW  23   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
maarten stekelenburg      GK  35   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1560000

## Leicester City

### Final Team Stats

In [41]:
leicester_standard = standardtable(
    'https://fbref.com/en/squads/a2d435b3/2018-2019/Leicester-City-Stats')
leicester_shooting = shootingtable(
    'https://fbref.com/en/squads/a2d435b3/2018-2019/Leicester-City-Stats')
leicester_passing = passingtable(
    'https://fbref.com/en/squads/a2d435b3/2018-2019/Leicester-City-Stats')
leicester_possession = possessiontable(
    'https://fbref.com/en/squads/a2d435b3/2018-2019/Leicester-City-Stats')
leicester_salary = salarytable(
    'https://www.spotrac.com/epl/leicester-city/payroll/2018/')

In [42]:
#merging leicester tables into one table
leicester_final = teamfinaltable(leicester_standard, leicester_shooting,
                                 leicester_passing, leicester_possession, leicester_salary)

In [43]:
leicester_final

                     Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
kasper schmeichel     GK  31  38     38    3      0      0  38.0   0.03    0.00      1208.0   1.0    3.0   1304.0     2.0   538.0           6760000
wilfred ndidi         MF  21  38     37    8   0.05      0  36.6   1.53    0.25      2035.0  22.0  153.0   2551.0    45.0  1533.0                NaN
ben chilwell          DF  21  36     36    4      0   0.11  36.0   0.56    0.28      2239.0  40.0  211.0   2714.0    44.0  1624.0           3380000
ricardo pereira    DF,FW  24  35     35    7   0.06   0.17  34.7   0.75    0.26      1956.0  31.0  224.0   2464.0    72.0  1409.0           3640000
james maddison     MF,FW  21  36     35    4   0.22   0.22  31.5   2.61    0.86      1617.0  96.0  237.0   1961.0    46.0  1394.0           2860000
harry maguire         DF  25  31     31    6    0.1      0  28.8   1.01    0.38      1749.0   9.0  166.0   2066.0    17.0  1299.0           4680000
jamie vardy           FW  31  34     30    3   0.59   0.13  30.3   2.48    1.06       443.0  29.0   38.0    700.0    21.0   490.0           7280000
nampalys mendy        MF  26  31     23    5      0      0  23.2   0.13    0.00      1106.0   6.0   80.0   1318.0    21.0   870.0           2600000
demarai gray       FW,MF  22  34     23    2   0.18   0.05  22.1   2.09    0.86       709.0  11.0   46.0    972.0    46.0   733.0           2860000
jonny evans           DF  30  24     21    2   0.05      0  22.2   0.45    0.18      1013.0   4.0   35.0   1284.0     0.0   732.0           4160000
wes morgan            DF  34  22     21    3   0.14      0  21.4   0.65    0.23       896.0   2.0   34.0   1121.0     3.0   634.0           3120000
marc albrighton    FW,MF  28  27     18    3   0.11   0.11  18.1   1.05    0.39       776.0  30.0  101.0    991.0    24.0   676.0           2340000
youri tielemans       MF  21  13     13    2   0.25   0.33  12.1   2.49    0.83       645.0  19.0   71.0    781.0    13.0   587.0                NaN
harvey barnes      FW,MF  20  16     11    0   0.09   0.18  11.2   3.50    0.99       344.0  16.0   35.0    485.0    21.0   378.0                NaN
kelechi iheanacho  FW,MF  21  30      9    2    0.1   0.29  10.5   1.82    0.57       288.0  14.0   22.0    387.0    11.0   308.0           3120000
rachid ghezzal     FW,MF  26  19      8    3   0.12      0   8.3   2.54    0.73       466.0  15.0   53.0    581.0    16.0   412.0                NaN
daniel amartey        DF  23   9      7    2      0      0   7.1   0.56    0.14       433.0   3.0   42.0    497.0     2.0   274.0           1092000
hamza choudhury       MF  20   9      7    0      0      0   6.6   0.61    0.30       238.0   4.0   18.0    318.0     2.0   175.0            416000
caglar soyuncu        DF  22   6      4    1      0      0   4.1   0.48    0.24       215.0   0.0   16.0    264.0     4.0   163.0           2340000
danny simpson         DF  31   6      3    0      0      0   3.2   0.00    0.00       154.0   1.0   21.0    197.0     0.0    81.0           2340000
vicente iborra        MF  30   8      3    0      0      0   2.5   0.79    0.39       144.0   1.0   12.0    164.0     0.0   117.0           2860000
christian fuchs       DF  32   3      2    0      0      0   2.3   0.87    0.00       158.0   6.0   30.0    181.0     1.0   107.0           2600000
shinji okazaki     FW,MF  32  21      1    0      0   0.31   3.2   1.25    0.94        99.0   2.0    7.0    155.0     6.0   116.0           1820000
adrien silva          MF  29   2      1    0      0      0   1.0   0.00    0.00        79.0   0.0    6.0     90.0     0.0    68.0           4160000
fousseni diabate      FW  22   1      1    0      0      0   0.6   0.00    0.00        18.0   1.0    1.0     25.0     0.0    16.0            780000
josh knight        DF,MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
danny ward            GK  25   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1040000

## West Ham

### Final Team Stats

In [44]:
westham_standard = standardtable(
    'https://fbref.com/en/squads/7c21e445/2018-2019/West-Ham-United-Stats')
westham_shooting = shootingtable(
    'https://fbref.com/en/squads/7c21e445/2018-2019/West-Ham-United-Stats')
westham_passing = passingtable(
    'https://fbref.com/en/squads/7c21e445/2018-2019/West-Ham-United-Stats')
westham_possession = possessiontable(
    'https://fbref.com/en/squads/7c21e445/2018-2019/West-Ham-United-Stats')
westham_salary = salarytable(
    'https://www.spotrac.com/epl/west-ham-united-f.c/payroll/2018/')

In [45]:
#merging westham tables into one table
westham_final = teamfinaltable(westham_standard, westham_shooting,
                               westham_passing, westham_possession, westham_salary)

In [46]:
westham_final

                     Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
lukasz fabianski      GK  33  38     38    0      0      0  38.0   0.00    0.00      1204.0   3.0    0.0   1319.0     1.0   417.0           3380000
felipe anderson    FW,MF  25  36     36    3   0.27   0.12  33.8   1.72    0.71      1819.0  60.0  223.0   2299.0    89.0  1650.0           4420000
declan rice           MF  19  34     34    4   0.06      0  33.4   0.72    0.15      1570.0   9.0   85.0   1850.0    25.0  1078.0            156000
issa diop             DF  21  33     33    4   0.03      0  33.0   0.42    0.12      1141.0   2.0   64.0   1515.0     5.0   801.0           3484000
mark noble            MF  31  31     29    6    0.2    0.2  25.5   0.51    0.20      1533.0  21.0  163.0   1738.0    16.0  1287.0           2600000
robert snodgrass   MF,FW  30  33     25   10   0.08    0.2  24.7   1.26    0.32      1156.0  61.0  138.0   1447.0    37.0   973.0           2080000
marko arnautovic      FW  29  28     24    3   0.45   0.18  22.1   2.80    1.36       655.0  33.0   46.0    867.0    29.0   691.0           5200000
pablo zabaleta        DF  33  26     23    4      0   0.04  23.2   0.30    0.04      1146.0   7.0  145.0   1411.0    10.0   714.0           3900000
fabian balbuena       DF  26  23     23    2   0.04      0  22.4   0.76    0.09       838.0   3.0   42.0   1125.0     2.0   584.0           2080000
michail antonio    FW,MF  28  33     22    3   0.26   0.17  23.4   2.78    1.07       777.0  20.0   76.0   1225.0    63.0   849.0           3640000
angelo ogbonna        DF  30  24     20    2   0.05   0.05  20.8   0.62    0.24       787.0   4.0   34.0   1016.0     2.0   563.0           3640000
arthur masuaku        DF  24  23     19    2      0   0.05  19.5   0.20    0.05      1092.0  15.0   91.0   1309.0    30.0   730.0           2080000
aaron cresswell       DF  28  20     18    1      0   0.06  17.7   0.62    0.00      1061.0  16.0  109.0   1246.0     8.0   710.0           2600000
javier hernandez      FW  30  25     14    2   0.47   0.07  14.8   2.29    1.08       333.0   6.0   23.0    478.0    14.0   373.0                NaN
pedro obiang          MF  26  24     12    0      0   0.08  12.5   1.28    0.08       549.0   4.0   51.0    680.0     9.0   448.0           2860000
ryan fredericks       DF  25  15     12    5   0.08      0  12.1   0.41    0.17       548.0   3.0   48.0    697.0     8.0   359.0           2080000
manuel lanzini        MF  25  10      8    2   0.13   0.13   7.6   1.44    0.52       471.0   6.0   42.0    544.0    14.0   439.0           3640000
grady diangana     FW,MF  20  17      6    0      0   0.15   6.8   1.48    0.44       265.0  11.0   24.0    383.0    19.0   265.0                NaN
andriy yarmolenko  FW,MF  28   9      5    2   0.39      0   5.1   1.76    0.59       214.0   5.0   20.0    268.0     4.0   215.0           5980000
lucas perez           FW  29  15      4    0   0.57      0   5.3   1.71    0.57       148.0   8.0    5.0    196.0     5.0   143.0           4160000
jack wilshere         MF  26   8      4    2      0   0.23   4.4   0.46    0.23       208.0   5.0   11.0    244.0     8.0   185.0           5200000
andy carroll          FW  29  12      3    2      0      0   5.1   2.73    1.17       131.0   3.0    4.0    197.0     4.0   143.0           4680000
samir nasri           MF  31   5      3    0      0   0.73   2.7   1.10    0.00       155.0   6.0   13.0    167.0     2.0   145.0                NaN
carlos sanchez        MF  32   7      2    0      0      0   2.7   1.10    0.00       140.0   2.0   10.0    157.0     6.0   105.0           2600000
ben johnson           DF  18   1      1    0      0      0   0.7   0.00    0.00        22.0   0.0    0.0     32.0     1.0    15.0                NaN
xande silva           FW  21   1      0    0      0      0   0.2  10.00    0.00         5.0   1.0    0.0      9.0     0.0     6.0                NaN
adrian                GK  31   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
conor coventry        MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
nathan holland        MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
joe powell            MF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Watford

### Final Team Stats

In [47]:
watford_standard = standardtable(
    'https://fbref.com/en/squads/2abfe087/2018-2019/Watford-Stats')
watford_shooting = shootingtable(
    'https://fbref.com/en/squads/2abfe087/2018-2019/Watford-Stats')
watford_passing = passingtable(
    'https://fbref.com/en/squads/2abfe087/2018-2019/Watford-Stats')
watford_possession = possessiontable(
    'https://fbref.com/en/squads/2abfe087/2018-2019/Watford-Stats')
watford_salary = salarytable(
    'https://www.spotrac.com/epl/watford/payroll/2018/')

In [48]:
#merging watford tables into one table
watford_final = teamfinaltable(watford_standard, watford_shooting,
                               watford_passing, watford_possession, watford_salary)

In [49]:
watford_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
ben foster              GK  35  38     38    1      0      0  38.0   0.03    0.00      1242.0   7.0    2.0   1373.0     0.0   429.0           1560000
craig cathcart          DF  29  36     35    2   0.09      0  34.4   0.47    0.17      1278.0   1.0   64.0   1606.0     3.0   874.0           1200000
abdoulaye doucoure      MF  25  35     34    7   0.15   0.18  34.0   1.53    0.47      1967.0  37.0  165.0   2324.0    44.0  1578.0           3640000
etienne capoue          MF  30  33     33   14   0.03   0.09  32.7   0.52    0.09      1778.0   9.0  164.0   2128.0    32.0  1285.0           2080000
roberto pereyra      FW,MF  27  33     33    3   0.19   0.03  31.3   1.79    0.67      1187.0  38.0  125.0   1585.0    54.0  1109.0           2340000
will hughes          MF,FW  23  32     31    5   0.07   0.15  26.9   1.15    0.30      1007.0  28.0  108.0   1414.0    23.0   921.0           1560000
troy deeney             FW  30  32     28    4   0.32   0.18  28.3   2.16    0.99       836.0  40.0  109.0   1158.0    10.0   856.0           3380000
jose holebas            DF  34  28     27   12   0.11   0.23  26.6   0.64    0.23      1330.0  36.0  175.0   1617.0    25.0   618.0           1560000
gerard deulofeu         FW  24  30     26    3   0.44   0.22  23.0   2.70    1.00       795.0  30.0   85.0   1075.0    46.0   802.0           3120000
kiko femenia            DF  27  29     22    1   0.04   0.04  22.8   0.31    0.13      1174.0  15.0  131.0   1392.0    17.0   793.0           1040000
adrian mariappa         DF  31  26     20    3      0      0  21.4   0.23    0.05       879.0   5.0   44.0   1115.0     2.0   672.0            780000
christian kabasele      DF  27  21     19    4      0      0  17.6   0.45    0.11       588.0   1.0   33.0    773.0     0.0   398.0           1560000
daryl janmaat           DF  29  18     17    3      0   0.12  16.9   0.65    0.06       795.0  10.0  105.0    964.0    13.0   484.0           2340000
andre gray              FW  27  29     13    2   0.46   0.13  15.2   2.44    0.99       255.0  13.0   12.0    415.0    13.0   325.0           3640000
adam masina             DF  24  14     11    5      0   0.09  11.2   0.27    0.00       565.0   2.0   67.0    692.0     6.0   330.0           1456000
isaac success        FW,MF  22  30      9    4   0.09   0.09  11.7   2.40    0.94       369.0  19.0   35.0    555.0    18.0   442.0           1560000
ken sema             FW,MF  24  17      9    1   0.12   0.24   8.4   1.19    0.36       261.0   7.0   20.0    374.0    22.0   266.0            780000
tom cleverley        MF,FW  28  13      4    2   0.19      0   5.3   0.56    0.19       229.0   0.0   18.0    284.0     1.0   169.0           2600000
domingos quina          MF  18   8      3    0   0.27      0   3.8   1.33    0.27       232.0   1.0   19.0    282.0     9.0   202.0            416000
nathaniel chalobah   MF,FW  23   9      3    2      0      0   3.0   0.67    0.33       121.0   0.0   11.0    156.0     1.0    88.0           1820000
miguel britos           DF  33   3      2    0      0      0   2.1   0.00    0.00        56.0   0.0    5.0     81.0     0.0    36.0           1300000
marc navarro            DF  23   2      1    0      0      0   0.9   0.00    0.00        34.0   0.0    2.0     44.0     1.0    19.0           1196000
ben wilmot              MF  18   2      0    0      0      0   0.3   0.00    0.00        10.0   0.0    1.0     14.0     0.0     6.0            260000
stefano okaka           FW  28   2      0    1      0      0   0.3   7.50    0.00        13.0   2.0    1.0     21.0     1.0    13.0           1820000
sebastian prodl         DF  31   1      0    0      0      0   0.1   0.00    0.00         3.0   0.0    0.0      3.0     0.0     3.0           2340000
heurelho gomes          GK  37   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1820000
adalberto penaranda     FW  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            936000

## Crystal Palace

### Final Team Stats

In [50]:
crystalpalace_standard = standardtable(
    'https://fbref.com/en/squads/47c64c55/2018-2019/Crystal-Palace-Stats')
crystalpalace_shooting = shootingtable(
    'https://fbref.com/en/squads/47c64c55/2018-2019/Crystal-Palace-Stats')
crystalpalace_passing = passingtable(
    'https://fbref.com/en/squads/47c64c55/2018-2019/Crystal-Palace-Stats')
crystalpalace_possession = possessiontable(
    'https://fbref.com/en/squads/47c64c55/2018-2019/Crystal-Palace-Stats')
crystalpalace_salary = salarytable(
    'https://www.spotrac.com/epl/crystal-palace/payroll/2018/')

In [51]:
#merging crystalpalace tables into one table
crystalpalace_final = teamfinaltable(crystalpalace_standard,
                                     crystalpalace_shooting,
                                     crystalpalace_passing,
                                     crystalpalace_possession, crystalpalace_salary)

In [52]:
crystalpalace_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
luka milivojevic        MF  27  38     38   10   0.32   0.05  38.0   1.24    0.34      2140.0  59.0  248.0   2564.0    20.0  1486.0           2860000
patrick van aanholt     DF  27  36     36    3   0.08   0.06  35.5   1.24    0.34      1962.0  34.0  292.0   2298.0    28.0  1351.0           2860000
james mcarthur          MF  30  38     36    7   0.09   0.18  34.0   1.00    0.24      1454.0  30.0  101.0   1863.0    30.0  1141.0           2860000
aaron wan-bissaka       DF  20  35     35    4      0   0.09  34.8   0.26    0.00      1537.0  14.0  164.0   2097.0    78.0   933.0            780000
wilfried zaha           FW  25  34     34    9    0.3   0.15  33.7   2.34    0.89      1094.0  54.0  147.0   1723.0   155.0  1339.0           6760000
andros townsend      FW,MF  27  38     34    1   0.18   0.12  33.4   1.85    0.51      1237.0  64.0  134.0   1689.0    79.0  1131.0           2860000
james tomkins           DF  29  29     29    5   0.04   0.04  28.4   0.81    0.25      1089.0   6.0   51.0   1429.0     1.0   803.0           2600000
mamadou sakho           DF  28  27     27    2      0      0  26.8   0.19    0.00      1285.0   7.0  100.0   1546.0    11.0   929.0           5200000
cheikhou kouyate        MF  28  31     21    3      0   0.09  21.1   1.00    0.38       798.0  15.0   70.0   1034.0    20.0   601.0           3380000
vicente guaita          GK  31  20     20    2      0      0  19.5   0.00    0.00       592.0   1.0    0.0    638.0     0.0   178.0           3120000
jeffrey schlupp      MF,FW  25  30     18    1   0.22   0.05  18.6   1.56    0.49       646.0  17.0   60.0    884.0    28.0   586.0           2912000
wayne hennessey         GK  31  18     17    0      0      0  17.5   0.00    0.00       488.0   0.0    1.0    545.0     0.0   170.0           2080000
max meyer            MF,FW  22  29     15    3   0.06   0.13  15.7   2.22    0.38       697.0  23.0   56.0    885.0    19.0   644.0           6500000
jordan ayew             FW  26  20     14    3   0.08   0.15  13.1   1.98    0.23       273.0  13.0   16.0    493.0    25.0   330.0                NaN
martin kelly            DF  28  13     12    2      0      0  12.3   0.24    0.08       346.0   1.0   17.0    505.0     0.0   242.0           1300000
christian benteke       FW  27  16      9    1   0.11   0.11   9.0   3.21    0.88       243.0   8.0   13.0    354.0     5.0   276.0           6240000
michy batshuayi         FW  24  11      9    0    0.6      0   8.3   3.12    1.20       162.0   1.0    7.0    252.0    14.0   174.0                NaN
scott dann              DF  31  10      7    1      0   0.14   7.4   0.81    0.14       243.0   0.0   17.0    343.0     4.0   160.0           3120000
joel ward               DF  28   7      6    1   0.16      0   6.1   0.33    0.16       256.0   3.0   28.0    331.0     2.0   140.0           1820000
julian speroni          GK  39   1      1    0      0      0   1.0   0.00    0.00        36.0   0.0    0.0     41.0     0.0     8.0           1300000
alexander sorloth    FW,MF  22  12      0    0      0      0   2.1   1.95    0.97        62.0   3.0    5.0     89.0     1.0    61.0           1040000
connor wickham          FW  25   6      0    0      0   1.34   0.7   6.72    1.34        13.0   1.0    1.0     31.0     0.0    20.0           3120000
bakary sako          FW,MF  30   4      0    0      0      0   0.3   0.00    0.00        13.0   0.0    0.0     20.0     0.0    12.0                NaN
jason puncheon          MF  32   5      0    0      0      0   0.1   0.00    0.00        11.0   1.0    0.0     14.0     0.0     8.0           1820000
luke dreher             MF  19   1      0    0      0      0   0.0   0.00    0.00         3.0   0.0    0.0      3.0     0.0     3.0                NaN
pape souare             DF  28   1      0    0      0      0   0.0   0.00    0.00         3.0   0.0    0.0      4.0     0.0     3.0           1560000
joe daniel tupper       GK  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
sullay kaikai           MF  22   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            156000
jairo riedewald         DF  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           2860000
nikola tavares          DF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
sam woods               DF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Newcastle United

### Final Team Stats

In [53]:
newcastle_standard = standardtable(
    'https://fbref.com/en/squads/b2b47a98/2018-2019/Newcastle-United-Stats')
newcastle_shooting = shootingtable(
    'https://fbref.com/en/squads/b2b47a98/2018-2019/Newcastle-United-Stats')
newcastle_passing = passingtable(
    'https://fbref.com/en/squads/b2b47a98/2018-2019/Newcastle-United-Stats')
newcastle_possession = possessiontable(
    'https://fbref.com/en/squads/b2b47a98/2018-2019/Newcastle-United-Stats')
newcastle_salary = salarytable(
    'https://www.spotrac.com/epl/newcastle-united-f.c/payroll/2018/')

In [54]:
#merging newcastle tables into one table
newcastle_final = teamfinaltable(newcastle_standard, newcastle_shooting,
                                 newcastle_passing, newcastle_possession, newcastle_salary)

In [55]:
newcastle_final

                      Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
martin dubravka        GK  29  38     38    1      0      0  38.0   0.00    0.00      1152.0   0.0    0.0   1254.0     1.0   438.0           1976000
matt ritchie        DF,MF  28  36     35    9   0.06   0.25  32.5   1.20    0.22      1580.0  53.0  216.0   1943.0    17.0  1014.0           2340000
ayoze perez         FW,MF  25  37     34    2   0.37   0.06  32.4   1.64    0.80       812.0  38.0   68.0   1300.0    67.0   834.0           2340000
jamaal lascelles       DF  24  32     32    4      0   0.03  30.5   0.33    0.03      1087.0   2.0   53.0   1437.0     3.0   685.0           2080000
salomon rondon         FW  28  32     30    1   0.38   0.24  28.9   3.08    1.00       772.0  30.0   55.0   1194.0    24.0   892.0                NaN
deandre yedlin         DF  25  29     28    6   0.04   0.07  27.5   0.40    0.07      1097.0  29.0  156.0   1382.0    10.0   635.0           1560000
mohamed diame          MF  31  29     24    3      0      0  24.1   0.87    0.12       741.0   1.0   45.0   1039.0    27.0   581.0           2340000
fabian schar           DF  26  24     22   12   0.18   0.05  22.2   1.04    0.32      1029.0  11.0   77.0   1383.0    13.0   765.0           2080000
paul dummett           DF  26  26     21    1      0      0  22.1   0.36    0.05       884.0   5.0  104.0   1140.0     3.0   537.0           1820000
isaac hayden           MF  23  25     21    3   0.05   0.19  20.7   0.97    0.24       724.0  20.0   55.0    982.0    13.0   513.0           1144000
federico fernandez     DF  29  19     17    2      0   0.06  16.5   0.24    0.06       622.0   4.0   45.0    814.0     2.0   436.0           2236000
christian atsu      MF,FW  26  28     15    2   0.06      0  16.6   1.69    0.84       454.0  14.0   31.0    659.0    33.0   448.0           1560000
kenedy              MF,FW  22  25     14    1   0.07   0.07  15.0   1.94    0.33       548.0  11.0   53.0    777.0    46.0   435.0                NaN
ki sung-yueng          MF  29  18     14    2      0   0.07  14.5   0.62    0.14       644.0  15.0   82.0    748.0     5.0   433.0           2080000
javier manquillo       DF  24  18     12    2      0   0.25  12.2   0.16    0.08       517.0   8.0   77.0    672.0     6.0   303.0           1820000
florian lejeune        DF  27  12     12    0      0      0  11.7   0.51    0.17       554.0   3.0   33.0    694.0     3.0   395.0           1976000
jonjo shelvey          MF  26  16     10    1   0.09   0.09  10.5   2.28    0.76       678.0  24.0   99.0    770.0    15.0   470.0           3640000
ciaran clark           DF  28  11      9    1   0.31      0   9.5   0.73    0.31       302.0   3.0   19.0    394.0     0.0   193.0           1820000
miguel almiron      FW,MF  24  10      9    0      0      0   8.4   2.25    0.95       260.0  12.0   28.0    384.0    10.0   242.0                NaN
sean longstaff         MF  20   9      8    2   0.13      0   7.6   1.05    0.26       295.0   5.0   27.0    381.0     5.0   202.0                NaN
joselu                 FW  28  16      5    1    0.3      0   6.6   2.42    0.76       195.0   1.0   12.0    286.0     7.0   207.0                NaN
yoshinori muto         FW  26  17      5    1   0.17      0   5.8   0.86    0.52       127.0   3.0    8.0    199.0    11.0   123.0           2808000
jacob murphy        MF,FW  23   9      3    0      0    0.3   3.4   0.60    0.30        71.0   1.0    9.0    112.0     3.0    58.0           1300000
antonio barreca        DF  23   1      0    0      0      0   0.1   0.00    0.00         3.0   0.0    1.0      3.0     0.0     3.0                NaN
lewis cass             DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
karl darlow            GK  27   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN           1300000
cal roberts         FW,MF  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
jamie sterry           DF  22   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
kelland watts          DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
freddie woodman        GK  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            156000

## Bournemouth

### Final Team Stats

In [56]:
bournemouth_standard = standardtable(
    'https://fbref.com/en/squads/4ba7cbea/2018-2019/Bournemouth-Stats')
bournemouth_shooting = shootingtable(
    'https://fbref.com/en/squads/4ba7cbea/2018-2019/Bournemouth-Stats')
bournemouth_passing = passingtable(
    'https://fbref.com/en/squads/4ba7cbea/2018-2019/Bournemouth-Stats')
bournemouth_possession = possessiontable(
    'https://fbref.com/en/squads/4ba7cbea/2018-2019/Bournemouth-Stats')
bournemouth_salary = salarytable(
    'https://www.spotrac.com/epl/afc-bournemouth/payroll/2018/')

In [57]:
#merging bournemouth tables into one table
bournemouth_final = teamfinaltable(bournemouth_standard, bournemouth_shooting,
                                   bournemouth_passing, bournemouth_possession, bournemouth_salary)

In [58]:
bournemouth_final

                    Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
nathan ake           DF  23  38     38    3   0.11      0  37.9   0.58    0.21      1701.0   5.0   91.0   2147.0     3.0  1283.0           2080000
ryan fraser       MF,FW  24  38     35    2    0.2    0.4  35.2   1.42    0.68      1505.0  87.0  225.0   1807.0    25.0  1274.0           1404000
joshua king          FW  26  35     34    3   0.36   0.09  32.9   1.95    0.55       868.0  37.0   94.0   1360.0    79.0  1002.0           2340000
steve cook           DF  27  31     31    3   0.03   0.03  31.0   0.71    0.26      1573.0  12.0  117.0   1954.0     4.0  1093.0           2340000
callum wilson        FW  26  30     29    3    0.5   0.32  28.1   2.24    0.96       456.0  28.0   45.0    765.0    27.0   580.0           2080000
jefferson lerma      MF  23  30     29   12   0.07      0  27.8   1.19    0.29      1566.0  15.0  117.0   1884.0    28.0  1168.0           2600000
david brooks      MF,FW  21  30     29    3   0.28    0.2  25.1   1.63    0.84       879.0  29.0  110.0   1243.0    49.0   870.0           1040000
adam smith           DF  27  25     25    5   0.04   0.04  23.0   0.35    0.04      1072.0  10.0  116.0   1351.0    19.0   753.0           1820000
asmir begovic        GK  31  24     24    0      0      0  24.0   0.00    0.00       633.0   0.0    1.0    700.0     0.0   208.0           3640000
dan gosling          MF  28  25     19    8    0.1   0.05  19.3   1.09    0.36       951.0   7.0  100.0   1169.0     8.0   751.0           1820000
charlie daniels      DF  31  21     17    4   0.06      0  17.6   0.74    0.17      1019.0  11.0  112.0   1161.0    16.0   678.0           1820000
andrew surman        MF  31  18     16    2      0      0  16.0   0.56    0.06       839.0   9.0   85.0    954.0     4.0   652.0           1820000
simon francis        DF  33  17     13    1      0   0.15  13.7   0.22    0.07       815.0  11.0   94.0    966.0     4.0   540.0           1560000
nathaniel clyne      DF  27  14     13    2      0   0.08  12.7   0.16    0.00       588.0   5.0   76.0    704.0     6.0   359.0           3640000
artur boruc          GK  38  12     12    2      0      0  12.0   0.00    0.00       350.0   0.0    0.0    377.0     0.0   103.0           2080000
junior stanislas  MF,FW  28  23     11    1   0.17   0.26  11.5   2.88    0.79       537.0  15.0   66.0    670.0    18.0   470.0           1820000
chris mepham         DF  20  13     10    1      0   0.11   9.4   0.21    0.00       391.0   0.0   22.0    508.0     5.0   290.0            607000
jordon ibe        MF,FW  22  19      9    1   0.11   0.11   8.9   1.02    0.34       285.0  10.0   44.0    386.0    25.0   284.0           1976000
lewis cook           MF  21  13      8    2      0      0   8.0   0.37    0.00       400.0   2.0   40.0    473.0     9.0   318.0           1820000
diego rico        DF,MF  25  12      5    1      0      0   6.8   1.32    0.00       382.0  11.0   67.0    468.0     6.0   233.0           1001000
jack simpson         DF  21   6      4    0      0      0   4.5   0.45    0.22       225.0   1.0   10.0    298.0     0.0   171.0            156000
dominic solanke      FW  20  10      2    0      0   0.26   3.9   2.33    0.78       101.0   8.0    6.0    175.0     9.0   119.0           1300000
mark travers         GK  19   2      2    0      0      0   2.0   0.00    0.00        57.0   0.0    1.0     66.0     0.0    22.0
tyrone mings         DF  25   5      2    0      0      0   1.6   0.00    0.00        91.0   0.0    6.0    110.0     1.0    63.0                NaN
lys mousset       FW,MF  22  24      1    1   0.24      0   4.1   3.18    1.71       121.0   4.0   10.0    193.0     7.0   146.0           1040000
emerson hyndman      MF  22   1      0    0      0      0   0.4   0.00    0.00        23.0   0.0    1.0     29.0     0.0    21.0            780000
jermain defoe     DF,FW  35   4      0    0      0      0   0.3   3.60    3.60         0.0   0.0    0.0      2.0     0.0     1.0                NaN
sam surridge      FW,DF  20   2      0    0      0      0   0.1  13.85    6.92         5.0   1.0    0.0      8.0     0.0     7.0
matt butcher         MF  21   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
nnamdi ofoborh       MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
marc pugh         FW,MF  31   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
kyle taylor          MF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Burnley

### Final Team Stats

In [59]:
burnley_standard = standardtable(
    'https://fbref.com/en/squads/943e8050/2018-2019/Burnley-Stats')
burnley_shooting = shootingtable(
    'https://fbref.com/en/squads/943e8050/2018-2019/Burnley-Stats')
burnley_passing = passingtable(
    'https://fbref.com/en/squads/943e8050/2018-2019/Burnley-Stats')
burnley_possession = possessiontable(
    'https://fbref.com/en/squads/943e8050/2018-2019/Burnley-Stats')
burnley_salary = salarytable(
    'https://www.spotrac.com/epl/burnley-f.c/payroll/2018/')

In [60]:
#merging burnley tables into one table
burnley_final = teamfinaltable(burnley_standard, burnley_shooting,
                               burnley_passing, burnley_possession, burnley_salary)

In [61]:
burnley_final

                            Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
ben mee                      DF  28  38     38    9      0   0.05  38.0   0.61    0.16      1484.0   9.0   99.0   1965.0     9.0   955.0           2860000
jack cork                    MF  29  37     37    6   0.03   0.05  36.8   0.41    0.05      1349.0  17.0   95.0   1683.0    29.0   996.0           1976000
charlie taylor               DF  24  38     35    2      0   0.03  36.0   0.17    0.00      1707.0  12.0  163.0   2150.0    43.0  1008.0           1300000
james tarkowski              DF  25  35     35    8   0.09   0.03  34.3   0.70    0.23      1117.0   6.0  102.0   1622.0     9.0   703.0           2600000
ashley westwood              MF  28  34     31    5   0.06   0.22  31.4   0.70    0.22      1504.0  43.0  200.0   1775.0    11.0  1013.0           1612000
chris wood                   FW  26  38     29    2   0.35   0.07  28.8   2.02    0.80       614.0  15.0   26.0    937.0    15.0   725.0           2600000
ashley barnes                FW  28  37     26    8   0.45   0.08  26.5   2.30    1.02       559.0  20.0   45.0    913.0    12.0   631.0           2080000
jeff hendrick             MF,FW  26  32     25    4   0.13      0  22.9   0.83    0.26       697.0  15.0   59.0    902.0    18.0   557.0           1820000
johann berg gudmundsson   MF,FW  27  29     19    2   0.15   0.31  19.5   1.75    0.57       610.0  40.0   87.0    856.0    19.0   497.0           1560000
matthew lowton               DF  29  21     19    7      0      0  19.4   0.26    0.00       910.0   8.0  131.0   1119.0    15.0   467.0           1300000
joe hart                     GK  31  19     19    0      0      0  19.0   0.00    0.00       580.0   1.0    4.0    661.0     0.0   197.0           2340000
tom heaton                   GK  32  19     19    3      0      0  19.0   0.05    0.00       586.0   2.0    8.0    635.0     1.0   189.0           2200000
phil bardsley                DF  33  19     19    9      0      0  18.6   0.65    0.05       770.0   6.0  117.0    974.0     7.0   405.0           1300000
dwight mcneil             MF,FW  18  21     19    2   0.17   0.28  17.7   1.58    0.34       584.0  27.0   69.0    793.0    36.0   478.0                NaN
aaron lennon              FW,MF  31  16     14    1   0.07   0.07  13.5   0.30    0.15       316.0   7.0   19.0    435.0     8.0   273.0           1820000
sam vokes                    FW  28  20     10    0    0.3      0  10.2   2.26    0.69       259.0   6.0   21.0    366.0     3.0   306.0           1300000
robbie brady              MF,FW  26  16      6    3      0   0.12   8.0   1.50    0.25       287.0  13.0   35.0    382.0     9.0   206.0           1820000
steven defour                MF  30   6      6    0      0      0   5.0   0.00    0.00       250.0   2.0   21.0    283.0     1.0   188.0           2340000
kevin long                   DF  27   6      5    0      0   0.18   5.7   0.18    0.00       177.0   0.0   10.0    240.0     0.0   114.0           1200000
matej vydra               FW,MF  26  13      3    1   0.28   0.28   3.5   1.70    0.85        77.0   1.0    4.0    129.0     3.0    87.0           1820000
stephen ward                 DF  32   3      3    1      0      0   2.5   0.39    0.39       154.0   1.0   16.0    172.0     2.0    95.0           1456000
ben gibson                   DF  25   1      1    1   1.45      0   0.7   1.45    1.45        32.0   0.0    2.0     38.0     1.0    21.0           2080000
peter crouch                 FW  37   6      0    1      0      0   1.0   3.91    0.98        25.0   0.0    2.0     41.0     0.0    34.0                NaN
josh benson                  MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
anthony driscoll-glennon     DF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
ali koiki                    DF  17   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
jonathan walters          FW,MF  34   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Southampton

### Final Team Stats

In [62]:
southampton_standard = standardtable(
    'https://fbref.com/en/squads/33c895d4/2018-2019/Southampton-Stats')
southampton_shooting = shootingtable(
    'https://fbref.com/en/squads/33c895d4/2018-2019/Southampton-Stats')
southampton_passing = passingtable(
    'https://fbref.com/en/squads/33c895d4/2018-2019/Southampton-Stats')
southampton_possession = possessiontable(
    'https://fbref.com/en/squads/33c895d4/2018-2019/Southampton-Stats')
southampton_salary = salarytable(
    'https://www.spotrac.com/epl/southampton-f.c/payroll/2018/')

In [63]:
#merging southampton tables into one table
southampton_final = teamfinaltable(southampton_standard, southampton_shooting,
                                   southampton_passing, southampton_possession, southampton_salary)

In [64]:
southampton_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
nathan redmond       FW,MF  24  38     36    3   0.17   0.11  36.3   2.04    0.61      1215.0  55.0  111.0   1665.0   116.0  1231.0           3120000
pierre hojbjerg         MF  22  31     31    8   0.13    0.1  30.7   1.73    0.62      1824.0  27.0  165.0   2199.0    31.0  1429.0                NaN
alex mccarthy           GK  28  25     25    1      0      0  25.0   0.00    0.00       637.0   0.0    0.0    716.0     1.0   212.0           2600000
oriol romeu             MF  26  31     25   11   0.04      0  23.7   0.42    0.17      1116.0   7.0  130.0   1378.0    12.0   765.0           3380000
ryan bertrand           DF  28  24     24    8   0.04      0  24.0   0.62    0.08      1094.0  23.0  161.0   1316.0    11.0   688.0           3640000
jan bednarek            DF  22  25     24    7      0   0.04  23.9   0.25    0.04       849.0   7.0   71.0   1180.0     2.0   471.0           1040000
jannik vestergaard      DF  25  23     23    2      0      0  22.5   0.58    0.04       887.0   6.0   73.0   1188.0    12.0   539.0           3120000
danny ings              FW  26  24     23    1   0.38   0.16  18.3   2.83    1.04       417.0  25.0   42.0    641.0    37.0   463.0           3900000
james ward-prowse    MF,DF  23  26     21    4   0.32      0  21.6   1.39    0.65       913.0  44.0   88.0   1133.0     7.0   596.0           2340000
yan valery           DF,MF  19  23     20    4   0.11   0.05  19.0   0.32    0.26       621.0   5.0   83.0    863.0    26.0   385.0                NaN
jack stephens           DF  24  24     19    4   0.05      0  18.9   0.37    0.26       793.0   4.0   60.0   1004.0     4.0   501.0           2496000
mario lemina            MF  24  21     18    5   0.06   0.06  17.9   1.51    0.22       833.0  11.0   71.0   1049.0    29.0   680.0           3380000
maya yoshida            DF  29  17     17    0      0   0.06  16.9   0.77    0.18       543.0   6.0   33.0    768.0     2.0   343.0           2600000
cedric soares           DF  26  18     16    4   0.06   0.12  16.6   0.60    0.18       822.0  13.0   91.0    974.0     9.0   529.0           3380000
stuart armstrong     MF,FW  26  29     16    2   0.19   0.13  15.9   2.01    0.75       652.0  28.0   71.0    857.0    18.0   609.0           2600000
matt targett         DF,MF  22  16     13    2   0.08   0.23  13.2   0.83    0.23       688.0  22.0  107.0    834.0     2.0   423.0           1820000
wesley hoedt            DF  24  13     13    2      0      0  13.0   0.46    0.08       642.0   1.0   36.0    780.0     6.0   447.0           3120000
shane long           FW,MF  31  26     12    3   0.35   0.07  14.1   2.12    0.64       329.0  13.0   23.0    514.0     7.0   385.0           3120000
angus gunn              GK  22  12     12    0      0      0  12.0   0.00    0.00       307.0   0.0    0.0    337.0     0.0    94.0           2080000
charlie austin          FW  29  25     11    1   0.18   0.18  10.9   3.02    0.73       208.0   9.0    9.0    345.0     8.0   243.0           3640000
mohamed elyounoussi  MF,FW  23  16      8    0      0      0   8.8   2.16    0.68       270.0  13.0   27.0    383.0    12.0   232.0           3120000
manolo gabbiadini    FW,MF  26  12      4    0   0.19      0   5.3   3.97    1.51       119.0   4.0    5.0    176.0     5.0   122.0           4160000
josh sims            FW,MF  21   7      2    0      0   0.42   2.4   2.12    0.42        46.0   2.0    3.0     75.0     3.0    45.0                NaN
michael obafemi         FW  18   6      1    1   0.66   0.66   1.5   5.26    1.31        23.0   2.0    3.0     48.0     2.0    33.0                NaN
callum slattery         MF  19   3      1    0      0      0   1.2   1.61    0.00        32.0   0.0    3.0     55.0     1.0    29.0                NaN
steven davis            MF  33   3      1    0      0   0.92   1.1   0.00    0.00        69.0   3.0    7.0     81.0     0.0    50.0           3120000
fraser forster          GK  30   1      1    0      0      0   1.0   0.00    0.00        23.0   0.0    0.0     27.0     0.0     7.0           3640000
kayne ramsey            DF  17   1      1    0      0      0   1.0   0.00    0.00        18.0   0.0    0.0     27.0     0.0     8.0                NaN
sam gallagher           FW  22   4      0    0      0      0   0.4   0.00    0.00         8.0   0.0    0.0     15.0     0.0     9.0           2080000
tyreke johnson          FW  19   1      0    0      0      0   0.0   0.00    0.00         0.0   0.0    0.0      0.0     0.0     0.0                NaN
alfie jones          DF,MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

## Brighton

### Final Team Stats

In [65]:
brighton_standard = standardtable(
    'https://fbref.com/en/squads/d07537b9/2018-2019/Brighton-and-Hove-Albion-Stats'
)
brighton_shooting = shootingtable(
    'https://fbref.com/en/squads/d07537b9/2018-2019/Brighton-and-Hove-Albion-Stats'
)
brighton_passing = passingtable(
    'https://fbref.com/en/squads/d07537b9/2018-2019/Brighton-and-Hove-Albion-Stats'
)
brighton_possession = possessiontable(
    'https://fbref.com/en/squads/d07537b9/2018-2019/Brighton-and-Hove-Albion-Stats'
)
brighton_salary = salarytable(
    'https://www.spotrac.com/epl/brighton-hove-albion/payroll/2018/'
)

In [66]:
#merging brighton tables into one table
brighton_final = teamfinaltable(brighton_standard, brighton_shooting,
                                brighton_passing, brighton_possession,
                                brighton_salary)

In [67]:
brighton_final

                       Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
lewis dunk              DF  26  36     36    6   0.06   0.03  35.0   0.63    0.11      1489.0   9.0   50.0   1904.0     1.0  1061.0           2340000
shane duffy             DF  26  35     35    4   0.15   0.03  34.3   1.14    0.41      1268.0   6.0   33.0   1761.0     5.0   918.0           2080000
mathew ryan             GK  26  34     34    2      0      0  34.0   0.00    0.00      1017.0   0.0    0.0   1085.0     0.0   395.0           1820000
davy propper            MF  26  30     30    2   0.04   0.04  28.3   0.53    0.07      1252.0  19.0  130.0   1527.0    40.0   975.0           2340000
glenn murray            FW  34  38     30    5   0.47   0.04  27.9   1.83    0.57       633.0  11.0   36.0    941.0    16.0   731.0           1560000
solly march          FW,MF  24  35     30    1   0.04   0.18  27.4   1.53    0.33       924.0  38.0   86.0   1252.0    48.0   812.0           1560000
dale stephens           MF  29  30     29    6   0.04   0.04  27.6   0.36    0.07      1369.0  21.0  126.0   1609.0    11.0  1010.0           1560000
martin montoya          DF  27  25     24    4      0   0.04  24.1   0.33    0.04      1145.0  19.0  148.0   1401.0    15.0   717.0           2600000
pascal gross            MF  27  25     24    1   0.14   0.14  20.7   1.01    0.34       948.0  53.0  118.0   1124.0    10.0   739.0           2600000
gaetan bong             DF  30  22     19    0      0      0  20.1   0.10    0.00       879.0   8.0  116.0   1064.0    14.0   487.0           1040000
bernardo                DF  23  22     19    4      0   0.05  19.5   0.41    0.15      1014.0   9.0  131.0   1268.0    16.0   593.0                NaN
anthony knockaert    FW,MF  26  30     18    4    0.1   0.29  20.4   1.42    0.44       736.0  40.0   85.0    960.0    33.0   611.0           1820000
yves bissouma           MF  21  28     17    5      0      0  19.7   1.57    0.15       727.0  14.0   52.0   1025.0    59.0   636.0           1300000
bruno                   DF  37  14     14    2      0   0.08  12.6   0.16    0.00       634.0   6.0   75.0    726.0     8.0   414.0                NaN
jurgen locadia       FW,MF  24  26     12    1   0.15      0  13.7   1.89    0.66       357.0  13.0   25.0    513.0     8.0   343.0           2340000
alireza jahanbakhsh  FW,MF  24  19     12    2      0      0  11.3   1.94    0.62       306.0   4.0   32.0    480.0    22.0   298.0           2600000
beram kayal             MF  30  18      9    4    0.1    0.1  10.4   0.38    0.10       292.0   5.0   29.0    429.0     8.0   211.0           1300000
jose izquierdo       MF,FW  26  15      9    1      0   0.11   8.8   1.70    0.45       210.0   5.0   18.0    320.0    13.0   196.0           2340000
florin andone           FW  25  23      8    5   0.31      0   9.8   1.94    0.72       180.0   2.0    6.0    343.0    16.0   241.0           2080000
leon balogun            DF  30   8      5    2   0.15      0   6.6   0.45    0.15       218.0   0.0    4.0    297.0     3.0   152.0            950000
david button            GK  29   4      4    0      0      0   4.0   0.00    0.00       108.0   0.0    0.0    115.0     0.0    37.0            833333
dan burn                DF  26   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN
viktor gyokeres         MF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
jayson molumby          MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
max sanders             MF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
jason steele            GK  27   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            833333
markus suttner       DF,GK  31   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
ben white               DF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

# Final Merge and Clean on 2018-2019 Stats

## Merging Teams Into One Table

In [68]:
def totalmerge():
    '''
    Merging all team_final tables (dataframe) into one table (dataframe)
    '''
    teams = [
        manutd_final,
        mancity_final,
        liverpool_final,
        chelsea_final,
        tottenham_final,
        arsenal_final,
        wolves_final,
        everton_final,
        leicester_final,
        westham_final,
        watford_final,
        crystalpalace_final,
        newcastle_final,
        bournemouth_final,
        burnley_final,
        southampton_final,
        brighton_final,
    ]
    total_1819 = pd.concat(teams)

    return total_1819

In [69]:
total_1819 = totalmerge()

## Final Data Cleaning

In [70]:
total_1819

                   Pos Age  MP Starts CrdY P90Gls P90Ast   90s  Sh/90  SoT/90  TotPassAtt    KP   Prog  Touches  DribPl     Rec Annual_Salary(GBP)
index
david de gea        GK  27  38     38    1      0      0  38.0   0.00    0.00      1087.0   1.0    1.0   1169.0     0.0   422.0          10400000
paul pogba          MF  25  35     34    6   0.39   0.27  33.4   2.87    1.14      2115.0  51.0  274.0   2601.0    62.0  2075.0          15080000
victor lindelof     DF  24  30     29    1   0.03   0.03  28.9   0.24    0.03      1481.0   4.0   71.0   1724.0     7.0  1142.0           6240000
luke shaw           DF  23  29     29   11   0.03   0.14  28.8   0.69    0.21      1984.0  33.0  238.0   2265.0    30.0  1371.0           7800000
ashley young        DF  33  30     28    9   0.07   0.07  28.5   0.42    0.11      1904.0  42.0  259.0   2172.0    23.0  1185.0           6240000
...                ...  ..  ..    ...  ...    ...    ...   ...    ...     ...         ...   ...    ...      ...     ...     ...                ...
jayson molumby      MF  18   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
max sanders         MF  19   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
jason steele        GK  27   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN            833333
markus suttner   DF,GK  31   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN
ben white           DF  20   0      0  NaN    NaN    NaN   NaN    NaN     NaN         NaN   NaN    NaN      NaN     NaN     NaN                NaN

[485 rows x 17 columns]

In [71]:
#dropping players that never played in a premier league match in the 2018-2019 season
total_1819 = total_1819[~(total_1819['MP'] == 0)]

#changing all number columns to float
total_1819.iloc[:, 1:] = total_1819.iloc[:, 1:].apply(pd.to_numeric,
                                                      errors='coerce')

#changing NaN to 0
total_1819 = total_1819.fillna(0)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [72]:
def standardposition(Pos):
    '''
    input: Pos (series) column for player position
    output: standardizes a player's position to his primary position if they have multiple
    '''
    for elem in Pos:
        return elem.split(',')[0]

In [73]:
total_1819['Pos'] = total_1819['Pos'].apply(standardposition)

In [74]:
#checking for players that played on two different premier league teams in the same year due to being loaned out
premleague = total_1819.reset_index()
premleague['index'].value_counts(ascending=False)

nathaniel clyne      2
mateo kovacic        1
fabinho              1
paulo gazzaniga      1
robbie brady         1
                    ..
virgil van dijk      1
harry maguire        1
aaron ramsey         1
chris smalling       1
anthony knockaert    1
Name: index, Length: 423, dtype: int64

In [75]:
#separating out player position for future merge
playerposition = premleague.iloc[:, 0:2]
playerposition.drop_duplicates('index', inplace=True)

#merging stats for loaned out players
premleague = premleague.groupby('index').sum().reset_index()

#dropping duplicate player rows
premleague = premleague.drop_duplicates(subset="index")

#adding player position back in
premleague = premleague.merge(playerposition,
                              left_on='index',
                              right_on='index')

In [76]:
#example loaned out player
premleague[premleague['index']=='nathaniel clyne']

               index   Age    MP  Starts  CrdY  P90Gls  P90Ast   90s  Sh/90  SoT/90  TotPassAtt   KP  Prog  Touches  DribPl    Rec  Annual_Salary(GBP) Pos
311  nathaniel clyne  54.0  18.0    14.0   2.0     0.0    0.08  13.9   2.59     0.0       672.0  5.0  86.0    809.0     6.0  417.0           3640000.0   D

# Exporting 2018-2019 Stats

In [77]:
premleague.to_csv('premleague_salary_stats.csv')