```
Topic:        Challenge Set 1
Subject:      Explore MTA turnstile data
Date:         07/06/2020
Name:         David Weon
Worked with:
```

### Challenge 1

In [49]:
import pandas as pd
df1 = pd.read_csv('turnstile_200606.txt')
df2 = pd.read_csv('turnstile_200613.txt')
df3 = pd.concat([df1,df2])
df3

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,00:00:00,REGULAR,7419887,2520505
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,04:00:00,REGULAR,7419888,2520505
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,08:00:00,REGULAR,7419895,2520514
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,12:00:00,REGULAR,7419911,2520531
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,16:00:00,REGULAR,7419940,2520553
...,...,...,...,...,...,...,...,...,...,...,...
206657,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,05:00:00,REGULAR,5554,514
206658,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,09:00:00,REGULAR,5554,514
206659,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,13:00:00,REGULAR,5554,514
206660,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,17:00:00,REGULAR,5554,514
206661,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,21:00:00,REGULAR,5554,514

### Challenge 2

In [50]:
type(df3['DATE'])

pandas.core.series.Series

In [51]:
type(df3['TIME'])

pandas.core.series.Series

In [52]:
pd.to_datetime(df3['DATE'] + ' ' + df3['TIME'])

0        2020-05-30 00:00:00
1        2020-05-30 04:00:00
2        2020-05-30 08:00:00
3        2020-05-30 12:00:00
4        2020-05-30 16:00:00
                 ...
206657   2020-06-12 05:00:00
206658   2020-06-12 09:00:00
206659   2020-06-12 13:00:00
206660   2020-06-12 17:00:00
206661   2020-06-12 21:00:00
Length: 414554, dtype: datetime64[ns]

In [53]:
df3['DATETIME'] = pd.to_datetime(df3['DATE'] + ' ' + df3['TIME'])
df3

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,00:00:00,REGULAR,7419887,2520505,2020-05-30 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,04:00:00,REGULAR,7419888,2520505,2020-05-30 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,08:00:00,REGULAR,7419895,2520514,2020-05-30 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,12:00:00,REGULAR,7419911,2520531,2020-05-30 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/30/2020,16:00:00,REGULAR,7419940,2520553,2020-05-30 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
206657,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,05:00:00,REGULAR,5554,514,2020-06-12 05:00:00
206658,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,09:00:00,REGULAR,5554,514,2020-06-12 09:00:00
206659,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,13:00:00,REGULAR,5554,514,2020-06-12 13:00:00
206660,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,17:00:00,REGULAR,5554,514,2020-06-12 17:00:00
206661,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/12/2020,21:00:00,REGULAR,5554,514,2020-06-12 21:00:00

### Challenge 3

In [ ]:
df3['']

In [69]:
df3.groupby(['C/A','UNIT','SCP','STATION','DATE']).ENTRIES.sum()

C/A    UNIT  SCP       STATION        DATE
A002   R051  02-00-00  59 ST          05/30/2020    44519498
                                      05/31/2020    44520139
                                      06/01/2020    44520830
                                      06/02/2020    44521815
                                      06/03/2020    44522794
                                                      ...
TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/08/2020       33324
                                      06/09/2020       33324
                                      06/10/2020       33324
                                      06/11/2020       33324
                                      06/12/2020       33324
Name: ENTRIES, Length: 69090, dtype: int64

In [67]:
df3.DATE.diff()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Challenge 4

In [57]:
%matplotlib inline
import matplotlib.pyplot as plt