In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [2]:
df_test = pd.read_csv('test_data.csv')
df_train = pd.read_csv('train_data.csv')

In [15]:
df_train.head()

            y    x1  x2
0  737.721966  1994  17
1  372.012721  1987  11
2  298.244694  1990   4
3  353.815829  1991   5
4  899.943226  1998  15

In [16]:
df_test.head()

            y    x1  x2
0  585.419191  1997   1
1  269.365326  1988   3
2  317.658704  1989   4
3  400.653320  1986  11
4  444.240501  1987  12

In [17]:
df_train.shape

(140, 3)

In [18]:
df_test.shape

(60, 3)

In [19]:
#model for train set
lr1 = LinearRegression()

# Choose the predictor variables, here all but the first which is the response variable
X_train = df_train[['x1','x2']]
X_test = df_test[['x1','x2']]

# Choose the response variable(s)
y_train = df_train[['y']]
y_test = df_test[['y']]

# Fit the model to the full dataset
lr1.fit(X_train, y_train)

# Print out the R^2 for the model against the full dataset
print(lr1.score(X_train, y_train))
print(lr1.score(X_test,y_test))

# Note:  adjusted_r_squared = 1 - (1-r_squared)*(len(y)-1)/(len(y)-X.shape[1]-1)

y_pred = lr1.predict(X_train)
y_pred2 = lr1.predict(X_test)

#fit on your train, score on your test

0.9623169777624406
0.9012120132896124

In [12]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [13]:
sqrt(mean_squared_error(y_train, y_pred))

46.05404687882082

In [14]:
sqrt(mean_squared_error(y_test, y_pred2))

71.51037230928127