# Fix Me

This code is broken, and when running produces an OK model (r2 of ~0.53)

- Fix the code
- Improve the model

In [9]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [61]:
data = pd.read_csv('./data/rossman_reduced.csv')
extra_data = pd.read_csv('./data/rossman-extra.csv')

In [62]:
data.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      4    45  2011-01-07         31.41      False
1     24    50  2012-08-03        925.00      False
2     44    81  2011-03-25       7418.05      False
3      4    38  2012-03-09      86432.14      False
4     11    80  2010-10-29      12184.46      False

In [63]:
extra_data.drop('IsHoliday',axis=1,inplace=True)  #pull
data = data.merge(extra_data, on=['Store','Date'])

In [64]:
data.shape

(30000, 14)

In [65]:
data.fillna(0)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,4,45,2011-01-07,31.41,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
1,4,11,2011-01-07,29259.99,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
2,4,8,2011-01-07,64561.77,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
3,4,97,2011-01-07,37019.67,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
4,4,26,2011-01-07,11334.47,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
5,4,24,2011-01-07,7391.66,False,39.34,2.980,0.00,0.00,0.00,0.00,0.00,127.191774,6.510
6,24,50,2012-08-03,925.00,False,73.26,3.819,11887.54,557.10,138.39,9345.76,2781.67,138.173581,8.953
7,24,14,2012-08-03,17817.43,False,73.26,3.819,11887.54,557.10,138.39,9345.76,2781.67,138.173581,8.953
8,44,81,2011-03-25,7418.05,False,42.38,3.435,0.00,0.00,0.00,0.00,0.00,128.616064,7.224
9,44,93,2011-03-25,9557.62,False,42.38,3.435,0.00,0.00,0.00,0.00,0.00,128.616064,7.224
10,44,83,2011-03-25,950.15,False,42.38,3.435,0.00,0.00,0.00,0.00,0.00,128.616064,7.224
11,44,85,2011-03-25,190.19,False,42.38,3.435,0.00,0.00,0.00,0.00,0.00,128.616064,7.224
12,4,38,2012-03-09,86432.14,False,53.63,3.667,8779.57,602.02,8.53,1103.64,9464.98,130.741379,4.607
13,4,7,2012-03-09,36368.50,False,53.63,3.667,8779.57,602.02,8.53,1103.64,9464.98,130.741379,4.607
14,4,46,2012-03-09,44047.05,False,53.63,3.667,8779.57,602.02,8.53,1103.64,9464.98,130.741379,4.607
15,4,71,2012-03-09,9601.78,False,53.63,3.667,8779.57,602.02,8.53,1103.64,9464.98,130.741379,4.607
16,4,92,2012-03-09,176296.64,False,53.63,3.667,8779.57,602.02,8.53,1103.64,9464.98,130.741379,4.607
17,11,80,2010-10-29,12184.46,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
18,11,67,2010-10-29,10021.36,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
19,11,72,2010-10-29,56865.81,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
20,11,98,2010-10-29,11699.50,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
21,11,83,2010-10-29,2499.23,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
22,11,33,2010-10-29,7440.93,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
23,11,18,2010-10-29,35844.82,False,74.21,2.716,0.00,0.00,0.00,0.00,0.00,215.227469,7.564
24,32,13,2010-11-12,30784.80,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
25,32,37,2010-11-12,4533.61,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
26,32,90,2010-11-12,62908.49,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
27,32,87,2010-11-12,6024.35,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
28,32,34,2010-11-12,9827.50,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
29,32,12,2010-11-12,3038.76,False,42.30,2.737,0.00,0.00,0.00,0.00,0.00,191.041147,9.137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,11,35,2010-05-28,4959.00,False,79.69,2.759,0.00,0.00,0.00,0.00,0.00,214.203763,7.343
29971,43,38,2012-10-26,67135.51,False,69.17,3.506,23.68,7.24,6.00,0.00,815.05,214.741539,8.839
29972,20,74,2010-03-26,20578.70,False,50.49,2.854,0.00,0.00,0.00,0.00,0.00,204.201755,8.187
29973,36,97,2010-06-25,7700.24,False,84.14,2.601,0.00,0.00,0.00,0.00,0.00,210.097523,8.464
29974,44,9,2012-02-03,28.30,False,31.39,3.077,1518.53,4.00,77.54,0.00,1177.48,130.349677,5.774
29975,1,56,2010-11-05,1089.72,False,58.74,2.689,0.00,0.00,0.00,0.00,0.00,211.956394,7.838
29976,43,40,2012-04-27,16526.51,False,78.27,3.814,251.26,0.00,1.98,0.00,719.56,213.062819,9.575
29977,37,87,2010-08-20,674.60,False,85.54,2.664,0.00,0.00,0.00,0.00,0.00,210.361758,8.360
29978,34,91,2011-05-13,34035.98,False,63.05,3.872,0.00,0.00,0.00,0.00,0.00,129.089000,10.581
29979,34,95,2011-05-13,72750.57,False,63.05,3.872,0.00,0.00,0.00,0.00,0.00,129.089000,10.581
29980,34,56,2011-05-13,13800.73,False,63.05,3.872,0.00,0.00,0.00,0.00,0.00,129.089000,10.581
29981,37,12,2012-05-25,248.74,False,78.94,3.561,0.00,0.00,0.00,0.00,706.18,220.428712,6.989
29982,37,6,2012-05-25,44.46,False,78.94,3.561,0.00,0.00,0.00,0.00,706.18,220.428712,6.989
29983,43,3,2012-05-25,674.02,False,82.41,3.561,566.81,0.00,1.10,0.00,875.91,213.173668,9.575
29984,43,21,2010-05-07,1967.93,False,67.16,2.835,0.00,0.00,0.00,0.00,0.00,202.379257,9.593
29985,43,9,2010-05-07,91.56,False,67.16,2.835,0.00,0.00,0.00,0.00,0.00,202.379257,9.593
29986,43,83,2010-05-07,5424.19,False,67.16,2.835,0.00,0.00,0.00,0.00,0.00,202.379257,9.593
29987,12,29,2010-07-16,5909.31,False,97.18,3.094,0.00,0.00,0.00,0.00,0.00,126.149806,14.180
29988,42,83,2012-10-19,3458.27,False,72.71,4.449,56.03,0.00,8.69,0.00,455.38,131.149968,6.943
29989,37,46,2010-05-14,8286.51,False,77.53,2.854,0.00,0.00,0.00,0.00,0.00,209.118536,8.464
29990,37,95,2010-05-14,50826.72,False,77.53,2.854,0.00,0.00,0.00,0.00,0.00,209.118536,8.464
29991,9,40,2011-07-22,27018.85,False,89.08,3.651,0.00,0.00,0.00,0.00,0.00,219.018789,6.404
29992,14,93,2012-08-10,56594.74,False,78.65,3.722,32432.09,23.68,32.44,4309.81,3570.81,191.162613,8.684
29993,14,34,2012-03-09,21377.88,False,45.52,3.848,15710.87,1050.48,1.49,2302.28,2702.96,190.335997,8.424
29994,14,26,2012-03-09,11003.41,False,45.52,3.848,15710.87,1050.48,1.49,2302.28,2702.96,190.335997,8.424
29995,42,80,2010-06-04,16930.36,False,82.82,2.941,0.00,0.00,0.00,0.00,0.00,126.136065,9.524
29996,30,97,2012-08-03,13332.23,False,91.57,3.417,283.01,0.00,2.46,1.88,2833.50,221.586980,6.565
29997,33,74,2012-08-17,308.25,False,96.79,4.002,382.03,0.00,0.96,0.00,1698.55,130.790968,7.147
29998,42,42,2012-02-17,226.98,False,54.12,3.781,66.87,736.80,3.94,0.00,996.28,130.454621,7.545
29999,37,67,2011-10-07,2030.36,False,71.20,3.285,0.00,0.00,0.00,0.00,0.00,215.783133,7.716

In [66]:
data = pd.get_dummies(data,prefix='dept',columns=['Dept'])

In [67]:
mdf = data.drop(['Date'],axis=1)

In [68]:
mdf.head()

,Store,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,...,dept_90,dept_91,dept_92,dept_93,dept_94,dept_95,dept_96,dept_97,dept_98,dept_99
0,4,31.41,False,39.34,2.98,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,4,29259.99,False,39.34,2.98,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,4,64561.77,False,39.34,2.98,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,4,37019.67,False,39.34,2.98,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
4,4,11334.47,False,39.34,2.98,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [69]:
mdf.shape

(30000, 92)

In [70]:
X = mdf.drop('Weekly_Sales',axis=1)
y = mdf['Weekly_Sales']

In [71]:
kf = KFold(n_splits=4,shuffle=True)

In [72]:
lr_r2 = []
l1_r2 = []
l2_r2 = []

lr_rmse = []
l1_rmse = []
l2_rmse = []

for tr,te in kf.split(X,y):
#     print("Fold")
    
    lr = LinearRegression()
    l1 = Lasso()
    l2 = Ridge()
    
    X_tr,X_te = X[tr] ,X[te]
    y_tr,y_te = y[tr] ,y[te]
    
    scale = StandardScaler()
    scale.fit(X)
    
    X_tr = scale.fit_transform(X_tr)
    X_te = scale.fit_transform(X_te)
    
#     lr.fit(X_tr,y_tr)
#     print("L1")
    l1.fit(X_tr,y_tr)
#     print("L2")
    l2.fit(X_tr,y_tr)
    
#     lr_r2.append(r2_score(y_te,lr.predict(X_te)))
    l1_r2.append(r2_score(y_te,l1.predict(X_te)))
    l2_r2.append(r2_score(y_te,l1.predict(X_te)))
    
    l1_rmse.append(np.sqrt(mean_squared_error(y_te,l1.predict(X_te))))

KeyError: '[    1     3     4 ... 29997 29998 29999] not in index'