# Fix Me

This code is broken, and when running produces an OK model (r2 of ~0.53)

- Fix the code
- Improve the model

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [2]:
data = pd.read_csv('./data/rossman_reduced.csv')
extra_data = pd.read_csv('./data/rossman-extra.csv')

In [3]:
data.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0     39    59  2012-07-27        202.76      False
1     23    71  2011-02-18      16482.00      False
2     17    40  2010-02-26      48167.29      False
3      6    79  2011-01-07      21581.64      False
4     39    58  2011-05-13       1315.00      False

In [4]:
extra_data.drop('IsHoliday',axis=1,inplace=True)  #pull
data = data.merge(extra_data, on=['Store','Date'])

In [5]:
data.shape

(30000, 14)

In [6]:
data.fillna(0)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,39,59,2012-07-27,202.76,False,82.89,3.407,1476.42,77.44,7.24,1008.30,35419.19,220.623405,6.623
1,39,46,2012-07-27,35825.85,False,82.89,3.407,1476.42,77.44,7.24,1008.30,35419.19,220.623405,6.623
2,39,36,2012-07-27,2871.00,False,82.89,3.407,1476.42,77.44,7.24,1008.30,35419.19,220.623405,6.623
3,39,29,2012-07-27,6697.70,False,82.89,3.407,1476.42,77.44,7.24,1008.30,35419.19,220.623405,6.623
4,39,71,2012-07-27,9209.19,False,82.89,3.407,1476.42,77.44,7.24,1008.30,35419.19,220.623405,6.623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,37,85,2011-12-30,94.67,True,48.26,3.129,373.92,1057.77,1.50,10.08,741.34,218.230236,7.716
29996,30,98,2012-05-25,3177.32,False,79.49,3.561,175.64,0.00,0.00,0.00,2534.54,221.382803,6.891
29997,33,60,2010-03-12,149.60,False,55.61,3.034,0.00,0.00,0.00,0.00,0.00,126.604286,10.115
29998,16,20,2012-10-26,3310.61,False,40.99,3.686,2285.52,20.48,0.00,201.97,1237.41,199.219532,5.847
29999,9,72,2011-06-24,32804.42,False,86.74,3.594,0.00,0.00,0.00,0.00,0.00,218.683687,6.380

In [7]:
data = pd.get_dummies(data,prefix='dept',columns=['Dept'])

In [8]:
mdf = data.drop(['Date'],axis=1)

In [9]:
mdf.head()

,Store,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,...,dept_90,dept_91,dept_92,dept_93,dept_94,dept_95,dept_96,dept_97,dept_98,dept_99
0,39,202.76,False,82.89,3.407,1476.42,77.44,7.24,1008.3,35419.19,...,0,0,0,0,0,0,0,0,0,0
1,39,35825.85,False,82.89,3.407,1476.42,77.44,7.24,1008.3,35419.19,...,0,0,0,0,0,0,0,0,0,0
2,39,2871.00,False,82.89,3.407,1476.42,77.44,7.24,1008.3,35419.19,...,0,0,0,0,0,0,0,0,0,0
3,39,6697.70,False,82.89,3.407,1476.42,77.44,7.24,1008.3,35419.19,...,0,0,0,0,0,0,0,0,0,0
4,39,9209.19,False,82.89,3.407,1476.42,77.44,7.24,1008.3,35419.19,...,0,0,0,0,0,0,0,0,0,0

In [10]:
mdf.shape

(30000, 92)

In [28]:
mdf['IsHoliday'].astype(int)

KeyError: 'IsHoliday'

In [20]:
X = mdf.drop('Weekly_Sales',axis=1)
y = mdf['Weekly_Sales']

In [21]:
kf = KFold(n_splits=4,shuffle=True)

In [25]:
list(kf.split(X,y))

[(array([    0,     2,     3, ..., 29997, 29998, 29999]),
  array([    1,     6,    17, ..., 29983, 29986, 29988])),
 (array([    1,     3,     4, ..., 29994, 29995, 29996]),
  array([    0,     2,     5, ..., 29997, 29998, 29999])),
 (array([    0,     1,     2, ..., 29997, 29998, 29999]),
  array([    4,     7,     8, ..., 29993, 29995, 29996])),
 (array([    0,     1,     2, ..., 29997, 29998, 29999]),
  array([    3,    10,    12, ..., 29980, 29992, 29994]))]

In [23]:
lr_r2 = []
l1_r2 = []
l2_r2 = []

lr_rmse = []
l1_rmse = []
l2_rmse = []

for tr,te in kf.split(X,y):
#     print("Fold")
    
    lr = LinearRegression()
    l1 = Lasso()
    l2 = Ridge()
    
    X_tr,X_te = X[tr] ,X[te]
    y_tr,y_te = y[tr] ,y[te]
    
    scale = StandardScaler()
    scale.fit(X)
    
    X_tr = scale.fit_transform(X_tr)
    X_te = scale.fit_transform(X_te)
    
#     lr.fit(X_tr,y_tr)
#     print("L1")
    l1.fit(X_tr,y_tr)
#     print("L2")
    l2.fit(X_tr,y_tr)
    
#     lr_r2.append(r2_score(y_te,lr.predict(X_te)))
    l1_r2.append(r2_score(y_te,l1.predict(X_te)))
    l2_r2.append(r2_score(y_te,l1.predict(X_te)))
    
    l1_rmse.append(np.sqrt(mean_squared_error(y_te,l1.predict(X_te))))

KeyError: "None of [Int64Index([    0,     1,     3,     6,     8,     9,    10,    12,    16,\n               17,\n            ...\n            29989, 29991, 29992, 29993, 29994, 29995, 29996, 29997, 29998,\n            29999],\n           dtype='int64', length=22500)] are in the [columns]"